In [1]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score, r2_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import tensorflow as tf

In [2]:
#read csv into df
df = pd.read_csv("../Levels_Fyi_Salary_Data 2.csv")
# columns to drop... salary_currency, salary, work_year
df.sample(25)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
30972,9/25/2020 11:41:17,JPMorgan Chase,Vice President,Software Engineer,169000,"Houston, TX",22.0,15.0,Full Stack,149000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4242,2/10/2019 14:19:37,Facebook,IC4,Software Engineer,127000,"London, EN, United Kingdom",12.0,1.0,Web Development (Front-End),0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
42863,2/23/2021 8:49:45,Square,L6,Software Engineer,250000,"Atlanta, GA",8.0,0.0,API Development (Back-End),170000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
53183,6/2/2021 16:12:16,Abbott,Software Engineer 1,Software Engineer,92000,"Los Angeles, CA",1.0,1.0,Distributed Systems (Back-End),90000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
25509,8/1/2020 22:26:59,Roblox,IC5,Software Engineer,385000,"San Mateo, CA",12.0,0.0,Distributed Systems (Back-End),290000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
14044,12/15/2019 13:04:45,Slack,Senior Engineer,Software Engineer,420000,"San Francisco, CA",5.0,2.0,Full Stack,190000.0,...,1,0,0,0,0,0,0,0,NaN,PhD
57297,7/11/2021 13:51:02,Salesforce,Lead MTS,Software Engineer,215000,"San Francisco, CA",6.0,6.0,Full Stack,178000.0,...,0,1,0,1,0,0,0,0,Asian,Highschool
10507,9/8/2019 7:17:36,salesforce,mts,Software Engineer,165000,"Washington, DC",4.0,0.0,DevOps,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
40353,1/26/2021 3:58:55,SoftServe,L3,Software Engineer,28000,"Kiev, KC, Ukraine",6.0,3.0,Full Stack,28000.0,...,0,1,0,0,1,0,0,0,White,Highschool
460,6/11/2018 16:00:16,Apple,ICT4,Software Engineer,271000,"Cupertino, CA",12.0,3.0,Mobile (iOS + Android),168000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4633,3/1/2019 11:33:48,Microsoft,60,Software Engineer,135000,"Redmond, WA",4.0,3.0,Networking,120000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
39772,1/19/2021 15:35:49,Microsoft,60,Product Manager,210000,"Seattle, WA",0.0,0.0,Technical,120000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
27400,8/22/2020 14:34:34,Cisco,Grade 11,Product Manager,185000,"San Jose, CA",20.0,10.0,Enterprise,155000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
32462,10/11/2020 19:47:22,Walmart Labs,L4,Data Scientist,100000,"Bangalore, KA, India",7.0,1.0,ML / AI,65000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
13319,11/22/2019 1:21:28,Uber,L5B,Product Manager,190000,"Hyderabad, TS, India",11.0,1.0,Security,105000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
7834,6/18/2019 16:47:46,Apple,ICT3,Hardware Engineer,201000,"Cupertino, CA",0.0,0.0,Hardware,140000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
33409,10/21/2020 18:00:12,Ford,GSR8,Mechanical Engineer,115000,"Dearborn, MI",21.0,20.0,Analytic,110000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
3426,12/27/2018 23:05:32,Google,L4,Software Engineer,206000,"Seattle, WA",3.0,3.0,Mobile (iOS + Android),0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
61365,8/13/2021 9:29:51,Netflix,Senior Software Engineer,Software Engineer,499000,"Los Gatos, CA",16.0,2.0,Distributed Systems (Back-End),499000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
40677,1/28/2021 22:56:37,Qualcomm,Staff Engineer,Hardware Engineer,304000,"Santa Clara, CA",9.0,7.0,Embedded Systems,194000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
15206,1/18/2020 22:15:56,Apple,ICT5,Software Engineer,450000,"Cupertino, CA",18.0,3.0,Distributed Systems (Back-End),210000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2414,10/31/2018 23:47:54,Google,L5,Software Engineer,268000,"Mountain View, CA",7.0,0.0,Distributed Systems (Back-End),180000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
13504,11/27/2019 16:08:21,Discover Financial Services,Associate,Software Engineer,74000,"Chicago, IL",1.0,1.0,Full Stack,74000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
59514,7/29/2021 21:59:45,Facebook,E3,Software Engineer,197000,"New York, NY",0.0,0.0,Distributed Systems (Back-End),129000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
18811,3/28/2020 20:34:53,Qualtrics,L5,Software Engineer,295000,"Seattle, WA",8.0,3.0,Full Stack,180000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree

In [3]:
df.nunique()

timestamp                  62561
company                     1631
level                       2923
title                         15
totalyearlycompensation      893
location                    1050
yearsofexperience             65
yearsatcompany                81
tag                         3058
basesalary                   482
stockgrantvalue              612
bonus                        335
gender                         4
otherdetails               12841
cityid                      1045
dmaid                        149
rowNumber                  62642
Masters_Degree                 2
Bachelors_Degree               2
Doctorate_Degree               2
Highschool                     2
Some_College                   2
Race_Asian                     2
Race_White                     2
Race_Two_Or_More               2
Race_Black                     2
Race_Hispanic                  2
Race                           5
Education                      5
dtype: int64

In [4]:
titles_df = df[df["title"]=="Data Scientist"]
titles_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
419,6/5/2018 14:06:30,LinkedIn,Senior,Data Scientist,233000,"San Francisco, CA",4.0,0.0,Data Analysis,162000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
440,6/8/2018 9:49:25,Microsoft,64,Data Scientist,218000,"Seattle, WA",11.0,11.0,ML / AI,165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
444,6/8/2018 17:55:09,ebay,26,Data Scientist,180000,"San Jose, CA",10.0,5.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
454,6/10/2018 19:39:35,Twitter,Staff,Data Scientist,500000,"San Francisco, CA",4.0,4.0,ML / AI,200000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
495,6/17/2018 11:39:38,Facebook,5,Data Scientist,370000,"Seattle, WA",8.0,3.0,NaN,190000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62240,3/26/2019 17:25:02,IBM,8,Data Scientist,155000,"Washington, DC",5.0,2.0,ML / AI,141000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62283,6/17/2018 21:07:18,Facebook,E3,Data Scientist,150000,"Singapore, SG, Singapore",0.0,0.0,ML / AI,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62285,7/16/2018 20:11:40,ADP,Sr UX Researcher 4,Data Scientist,185000,"Roseland, NJ",8.0,2.0,UX Research,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62529,6/12/2018 20:54:06,Google,T6,Data Scientist,685000,"Kirkland, WA",22.0,2.0,ML / AI,221000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62623,8/19/2018 20:31:37,Illumina,Bioinformatics Scientist II,Data Scientist,175000,"San Diego, CA",6.0,2.0,Bioinformatics,135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [5]:
#Binning years of experience for better encoding
titles_df['yearsofexperience'].value_counts()

2.0     351
5.0     343
3.0     314
4.0     301
1.0     214
0.0     190
6.0     178
7.0     141
10.0    132
8.0     124
9.0      64
15.0     45
12.0     42
11.0     37
13.0     25
20.0     21
16.0     18
14.0     15
17.0      6
18.0      4
25.0      4
23.0      2
22.0      2
19.0      1
26.0      1
30.0      1
21.0      1
34.0      1
Name: yearsofexperience, dtype: int64

In [6]:
# # Replace in dataframe
# years_labels = []
# for years in titles_df['yearsofexperience']:
#     if years == 0.0:
#         years = "Entry Level"
#     elif years < 5.0:
#         years = "Early Career"
#     elif (years>=5.0 and years <10.0):
#         years = "Mid level"
#     else:
#         years = "Senior"
#     years_labels.append(years)
# years_labels

In [7]:
#reassign company column to bin name
year_level_df = titles_df.copy()
# year_level_df['yearsofexperience'] = years_labels
year_level_df.sample(20)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
33270,10/20/2020 2:27:00,Amazon,L5,Data Scientist,210000,"Seattle, WA",6.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
17052,2/18/2020 9:01:24,Spotify,Data Scientist,Data Scientist,173000,"New York, NY",5.0,1.0,Data science,145000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
24323,7/16/2020 16:39:30,Dropbox,IC2,Data Scientist,147000,"San Francisco, CA",3.0,2.0,Analytics,120000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
36836,12/8/2020 18:47:12,RBC,L7,Data Scientist,105000,"Toronto, ON, Canada",4.0,4.0,Data,85000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
52373,5/25/2021 11:55:59,Oracle,IC-3,Data Scientist,215000,"Austin, TX",5.0,1.0,General,155000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
54347,6/13/2021 14:22:55,PwC,Manager,Data Scientist,90000,"Charlotte, NC",4.0,4.0,Analytics,75000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
50411,5/4/2021 13:42:38,Google,L4,Data Scientist,252000,"Mountain View, CA",2.0,2.0,Ads,158000.0,...,1,0,0,0,1,0,0,0,White,PhD
4069,2/2/2019 22:23:50,Affirm,L3,Data Scientist,165000,"San Francisco, CA",0.0,1.0,ML / AI,130000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
40519,1/27/2021 13:33:51,Uber,L5A,Data Scientist,517000,"Seattle, WA",7.0,0.0,ML / AI,207000.0,...,0,0,0,0,0,1,0,0,Two Or More,Master's Degree
36898,12/9/2020 14:46:02,KPMG,Consultant,Data Scientist,42000,"Dublin, DN, Ireland",1.0,1.0,Data,42000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
49749,4/27/2021 11:21:03,LinkedIn,IC2,Data Scientist,201000,"Sunnyvale, CA",3.0,0.0,General,145000.0,...,0,0,0,0,0,0,1,0,Black,Master's Degree
29088,9/6/2020 12:01:10,Wayfair,L4,Data Scientist,180000,"Boston, MA",4.0,2.0,ML / AI,135000.0,...,1,0,0,1,0,0,0,0,Asian,PhD
48080,4/13/2021 7:15:42,Southwest Airlines,Associate,Data Scientist,105000,"Dallas, TX",3.0,1.0,Data Scientist,95000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
24654,7/21/2020 20:44:34,Facebook,IC6,Data Scientist,321000,"Menlo Park, CA",15.0,5.0,product,205000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
45483,3/19/2021 11:26:47,Dropbox,M6,Data Scientist,650000,"San Francisco, CA",15.0,0.0,General,290000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
58277,7/20/2021 7:06:50,Ernst and Young,Principal,Data Scientist,290000,"New York, NY",12.0,10.0,General,260000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
2580,11/5/2018 15:34:19,Microsoft,60,Data Scientist,145000,"Sunnyvale, CA",4.0,3.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
31290,9/29/2020 4:58:15,Myntra,M3,Data Scientist,60000,"Bengaluru, KA, India",5.0,2.0,Full Stack,55000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
50391,5/4/2021 10:16:54,Walmart Labs,E3,Data Scientist,160000,"Sunnyvale, CA",6.0,1.0,data science,130000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
5448,4/2/2019 8:06:21,Amazon,L4,Data Scientist,120000,"Seattle, WA",3.0,1.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [8]:
year_level_df['yearsofexperience'].value_counts()

2.0     351
5.0     343
3.0     314
4.0     301
1.0     214
0.0     190
6.0     178
7.0     141
10.0    132
8.0     124
9.0      64
15.0     45
12.0     42
11.0     37
13.0     25
20.0     21
16.0     18
14.0     15
17.0      6
18.0      4
25.0      4
23.0      2
22.0      2
19.0      1
26.0      1
30.0      1
21.0      1
34.0      1
Name: yearsofexperience, dtype: int64

In [ ]:
# salary_outliers = year_level_df[year_level_df['totalyearlycompensation']>=800000]
# salary_outliers

In [9]:
clean_df= year_level_df.drop(columns=['timestamp', 'level', 'yearsatcompany', 'otherdetails','Highschool', 'Some_College', 
                               'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',
                              'Race_Hispanic', 'Race', 'Education','cityid','dmaid','rowNumber','tag','bonus','stockgrantvalue','basesalary','title'])
clean_df.head()
#get_dummies/oneHotEncoder on company size and employment type

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0

In [ ]:
# salary_outliers = clean_df[clean_df['totalyearlycompensation']>=800000]
# salary_outliers

In [10]:
import re
form_state_one = r'(\w+\s)*(\w+),\s([A-Z]{2})$'
matches_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False)
no_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False).sum()
print(no_form_one)

form_state_two = r'(\w+\s)*(\w+),\s([A-Z]{2}),\s(\w+)'
matches_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False)
no_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False).sum()
print(no_form_two)


clean_df.location[~matches_form_one & ~matches_form_two]

2226
351

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

9061    Tel Aviv, Israel
Name: location, dtype: object

In [11]:
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0

In [12]:
def US_location_to_state(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        state = re.sub('(\w+\s)*(\w+),\s','', city)
        
        # return state
        return state
    # otherwise, return NaN
    else:
        return np.nan
    

def location_to_city(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        city = re.sub(',\s([A-Z]{2})$','', city)
        
        # return state
        return city
    # otherwise, return NaN
    else:
        return np.nan
clean_df = clean_df.loc[clean_df.location != "Tel Aviv, Israel"]
clean_df

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0
...,...,...,...,...,...,...,...,...
62240,IBM,155000,"Washington, DC",5.0,Male,0,0,0
62283,Facebook,150000,"Singapore, SG, Singapore",0.0,Female,0,0,0
62285,ADP,185000,"Roseland, NJ",8.0,Male,0,0,0
62529,Google,685000,"Kirkland, WA",22.0,Male,0,0,0
62623,Illumina,175000,"San Diego, CA",6.0,NaN,0,0,0

In [13]:
clean_df['state'] = clean_df.location.str.extract(f'({form_state_one}|{form_state_two})', flags=re.IGNORECASE)[0].apply(US_location_to_state)

In [14]:
clean_df = clean_df[clean_df['state'].notna()]
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0,CA
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0,WA
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0,CA
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0,CA
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0,WA

In [15]:
clean_df['city'] = clean_df.location.str.extract(f'({form_state_one})', flags=re.IGNORECASE)[0].apply(location_to_city)
clean_df.drop('location', axis=1, inplace=True)
clean_df.head()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,company,totalyearlycompensation,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
419,LinkedIn,233000,4.0,Male,0,0,0,CA,San Francisco
440,Microsoft,218000,11.0,Male,0,0,0,WA,Seattle
444,ebay,180000,10.0,Female,0,0,0,CA,San Jose
454,Twitter,500000,4.0,Male,0,0,0,CA,San Francisco
495,Facebook,370000,8.0,Male,0,0,0,WA,Seattle

In [16]:
##for gender back in to later models
clean_df_gender = clean_df.copy()

In [17]:
clean_df.drop(columns=['gender'], inplace=True)
clean_df.nunique()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

company                    397
totalyearlycompensation    375
yearsofexperience           28
Masters_Degree               2
Bachelors_Degree             2
Doctorate_Degree             2
state                       39
city                       159
dtype: int64

In [18]:
print(clean_df["company"].value_counts().head(10))

Amazon          224
Microsoft       202
Facebook        175
Google           83
Apple            75
Uber             60
IBM              58
Capital One      44
LinkedIn         34
Walmart Labs     33
Name: company, dtype: int64

In [19]:
# #Binning he companies- .cut with 4 bins...do we want to specifically design these?
# bin_labels = ['Small', 'Medium', 'Large']
# bins3 = clean_df['company'].value_counts()
# company_bins = pd.cut(bins3, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
# company_bins

In [20]:
#Binning he companies- .cut with 4 bins...do we want to specifically design these?
bin_labels = ['Small', 'Medium', 'Large', 'Very Large']
bins4 = clean_df['company'].value_counts()
company_bins = pd.cut(bins4, bins=4, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
company_bins

['Very Large',
 'Very Large',
 'Very Large',
 'Medium',
 'Medium',
 'Medium',
 'Medium',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small']

In [21]:
#change company name to bin name
companies = []
for company in clean_df['company']:
    if company == "Amazon" or company == "Microsoft" or company == "Facebook":
        company = "Large"
    elif company == "Google" or company == "Apple" or company == "IBM" or company=="Uber":
        company = "Medium"
    else:
        company = "Small"
    companies.append(company)

In [22]:
#reassign company column to bin name
clean_bins_df = clean_df.copy()
clean_bins_df['company'] = companies
# clean_bins_df.drop(columns=['Doctorate_Degree'], inplace=True)
# clean_bins_df.drop(columns=['city'], inplace=True)
clean_bins_df.head(10)
# clean_bins_df['gender'].value_counts()

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
419,Small,233000,4.0,0,0,0,CA,San Francisco
440,Large,218000,11.0,0,0,0,WA,Seattle
444,Small,180000,10.0,0,0,0,CA,San Jose
454,Small,500000,4.0,0,0,0,CA,San Francisco
495,Large,370000,8.0,0,0,0,WA,Seattle
499,Large,200000,3.0,0,0,0,WA,Seattle
509,Large,340000,11.0,0,0,0,WA,Bellevue
510,Medium,690000,10.0,0,0,0,WA,Kirkland
513,Small,600000,3.0,0,0,0,CA,Los Gatos
523,Small,168000,8.0,0,0,0,CA,Palo Alto

In [23]:
# salary_outliers = clean_bins_df[clean_bins_df['totalyearlycompensation']>=800000]
# salary_outliers

In [24]:
# #is there linearity between location numerical representation and salary?
# clean_bins2 = clean_bins_df.drop(['location'], axis = 1)
# locations = clean_bins_df['location']
# clean_bins2.head()

In [25]:
# #Create label Encoder and encode categorical
# from sklearn.preprocessing import LabelEncoder
# lb_make = LabelEncoder()
# clean_bins2['company']= lb_make.fit_transform(clean_bins2['company'])
# clean_bins2['gender']= lb_make.fit_transform(clean_bins2['gender'])

# clean_bins2.head()

In [26]:
# clean_bins2['gender'].value_counts() #what do we do with 4 genders?

In [27]:
# #OneHot to new categories
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(sparse=False)
# company_encoded = lb_make.fit_transform(clean_bins2['company'])
# company_encoded = company_encoded.reshape(len(company_encoded), 1)
# onehot_company_encoded = enc.fit_transform(company_encoded)
# print(onehot_company_encoded)

In [28]:
#skip procedural encoding with get_dummies()?
# clean_dummies = clean_dummies.drop(['gender_2'], axis=1)
clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'city', 'state', 'yearsofexperience'], drop_first=True)#drop the gender columns?

clean_dummies.head(15)

,totalyearlycompensation,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,city_Alexandria,city_Alpharetta,city_Ann Arbor,city_Annapolis Junction,...,yearsofexperience_18.0,yearsofexperience_19.0,yearsofexperience_20.0,yearsofexperience_21.0,yearsofexperience_22.0,yearsofexperience_23.0,yearsofexperience_25.0,yearsofexperience_26.0,yearsofexperience_30.0,yearsofexperience_34.0
419,233000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
509,340000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
510,690000,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
513,600000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
523,168000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
535,187000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
570,225000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
668,220000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
673,130000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740,112000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
salary_outliers = clean_dummies[clean_dummies['totalyearlycompensation']>=800000]
salary_outliers

,totalyearlycompensation,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,city_Alexandria,city_Alpharetta,city_Ann Arbor,city_Annapolis Junction,...,yearsofexperience_18.0,yearsofexperience_19.0,yearsofexperience_20.0,yearsofexperience_21.0,yearsofexperience_22.0,yearsofexperience_23.0,yearsofexperience_25.0,yearsofexperience_26.0,yearsofexperience_30.0,yearsofexperience_34.0
4204,900000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34136,800000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52222,1000000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
X = clean_dummies.drop(columns=["totalyearlycompensation"])
y = clean_dummies["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y, 
                                                    random_state=42)

In [32]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.489291206846292
Testing Score: -3.134801351650873e+22

In [33]:
#LinReg basically could not do better than true random... testing random Forest Regressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [35]:
Y_pred = regressor.predict(X_test)  # test the output by changing values

In [36]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")
print(f"R2 Score: {sklearn.metrics.r2_score(y_test, Y_pred)}")

Training Score: 0.7505850800775655
Testing Score: 0.25595378396537805
R2 Score: 0.25595378396537805

In [37]:
# RFR model looks pretty good... 
#could we use cross validation and/or decision trees to determine which features are not contributing to the model
#then tune by removing these noise contributors

In [38]:
#neural network?- go back to clean_bins_df
# Generate our categorical variable lists
app_cats = clean_bins_df.dtypes[clean_bins_df.dtypes == "object"].index.tolist()
clean_bins_df[app_cats].nunique()

company      3
state       39
city       159
dtype: int64

In [39]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(clean_bins_df[app_cats]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_cats)
encode_df.head()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,company_Large,company_Medium,company_Small,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# Merge one-hot encoded features and drop the originals
clean_bins_df = clean_bins_df.merge(encode_df, left_index=True, right_index = True)
clean_bins_df.drop(app_cats,1, inplace=True)
clean_bins_df.head()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Large,company_Medium,company_Small,state_AL,state_AR,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,218000,11.0,0,0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
444,180000,10.0,0,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
454,500000,4.0,0,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
495,370000,8.0,0,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
clean_bins_df.totalyearlycompensation.values

array([233000, 218000, 180000, 500000, 370000, 200000, 340000, 690000,
       600000, 168000, 187000, 225000, 220000, 130000, 112000, 200000,
       120000, 500000, 220000, 147000, 340000, 235000, 206000, 233000,
       149000, 356000, 305000, 200000, 215000, 700000, 243000, 260000,
       240000, 300000, 160000, 220000, 210000, 210000, 115000, 115000,
       188000, 215000, 315000, 240000, 230000, 216000, 125000, 322000,
       400000, 157000,  82000, 120000, 240000, 100000, 114000, 119000,
       250000, 182000, 120000, 318000, 135000, 228000, 137000, 156000,
       193000, 350000])

In [42]:
# Split our preprocessed data into our features and target arrays
y = clean_bins_df.totalyearlycompensation.values
X = clean_bins_df.drop(columns=['totalyearlycompensation'])
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [43]:
#  Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
# hidden_nodes_layer2 = 20
# hidden_nodes_layer3 = 14

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# # Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# #Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                2060
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 2,071
Trainable params: 2,071
Non-trainable params: 0
_________________________________________________________________

2022-03-26 15:18:28.510163: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [45]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

2022-03-26 15:18:32.400240: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)

Epoch 1/50
2/2 [==============================] - 0s 3ms/step - loss: -162760.7188 - accuracy: 0.0000e+00
Epoch 2/50
2/2 [==============================] - 0s 4ms/step - loss: -307403.2917 - accuracy: 0.0000e+00
Epoch 3/50
2/2 [==============================] - 0s 14ms/step - loss: -312970.3438 - accuracy: 0.0000e+00
Epoch 4/50
2/2 [==============================] - 0s 10ms/step - loss: -319687.0573 - accuracy: 0.0000e+00
Epoch 5/50
2/2 [==============================] - 0s 6ms/step - loss: -554736.6667 - accuracy: 0.0000e+00
Epoch 6/50
2/2 [==============================] - 0s 6ms/step - loss: -751235.8542 - accuracy: 0.0000e+00
Epoch 7/50
2/2 [==============================] - 0s 22ms/step - loss: -839684.5417 - accuracy: 0.0000e+00
Epoch 8/50
2/2 [==============================] - 0s 4ms/step - loss: -719185.5000 - accuracy: 0.0000e+00
Epoch 9/50
2/2 [==============================] - 0s 7ms/step - loss: -819036.0417 - accuracy: 0.0000e+00
Epoch 10/50
2/2 [==============================] - 0s 11ms/step - loss: -902240.1250 - accuracy: 0.0000e+00
Epoch 11/50
2/2 [==============================] - 0s 8ms/step - loss: -914692.3750 - accuracy: 0.0000e+00
Epoch 12/50
2/2 [==============================] - 0s 9ms/step - loss: -1075869.3750 - accuracy: 0.0000e+00
Epoch 13/50
2/2 [==============================] - 0s 3ms/step - loss: -1014752.7917 - accuracy: 0.0000e+00
Epoch 14/50
2/2 [==============================] - 0s 8ms/step - loss: -1280262.0833 - accuracy: 0.0000e+00
Epoch 15/50
2/2 [==============================] - 0s 9ms/step - loss: -1330553.9167 - accuracy: 0.0000e+00
Epoch 16/50
2/2 [==============================] - 0s 7ms/step - loss: -1490708.3750 - accuracy: 0.0000e+00
Epoch 17/50
2/2 [==============================] - 0s 6ms/step - loss: -1444367.4167 - accuracy: 0.0000e+00
Epoch 18/50
2/2 [==============================] - 0s 3ms/step - loss: -1501701.9167 - accuracy: 0.0000e+00
Epoch 19/50
2/2 [==============================] - 0s 5ms/step - loss: -1517548.4167 - accuracy: 0.0000e+00
Epoch 20/50
2/2 [==============================] - 0s 5ms/step - loss: -1759129.1667 - accuracy: 0.0000e+00
Epoch 21/50
2/2 [==============================] - 0s 3ms/step - loss: -1821796.1250 - accuracy: 0.0000e+00
Epoch 22/50
2/2 [==============================] - 0s 3ms/step - loss: -1929285.9167 - accuracy: 0.0000e+00
Epoch 23/50
2/2 [==============================] - 0s 3ms/step - loss: -2290118.2500 - accuracy: 0.0000e+00
Epoch 24/50
2/2 [==============================] - 0s 5ms/step - loss: -2288716.5833 - accuracy: 0.0000e+00
Epoch 25/50
2/2 [==============================] - 0s 3ms/step - loss: -2375934.1667 - accuracy: 0.0000e+00
Epoch 26/50
2/2 [==============================] - 0s 3ms/step - loss: -2449530.8333 - accuracy: 0.0000e+00
Epoch 27/50
2/2 [==============================] - 0s 8ms/step - loss: -2583270.5833 - accuracy: 0.0000e+00
Epoch 28/50
2/2 [==============================] - 0s 7ms/step - loss: -2594562.8333 - accuracy: 0.0000e+00
Epoch 29/50
2/2 [==============================] - 0s 3ms/step - loss: -2627770.8333 - accuracy: 0.0000e+00
Epoch 30/50
2/2 [==============================] - 0s 3ms/step - loss: -2627741.4167 - accuracy: 0.0000e+00
Epoch 31/50
2/2 [==============================] - 0s 7ms/step - loss: -2782633.1667 - accuracy: 0.0000e+00
Epoch 32/50
2/2 [==============================] - 0s 4ms/step - loss: -2780053.6667 - accuracy: 0.0000e+00
Epoch 33/50
2/2 [==============================] - 0s 3ms/step - loss: -3005733.8333 - accuracy: 0.0000e+00
Epoch 34/50
2/2 [==============================] - 0s 3ms/step - loss: -2905956.5833 - accuracy: 0.0000e+00
Epoch 35/50
2/2 [==============================] - 0s 7ms/step - loss: -2770213.1667 - accuracy: 0.0000e+00
Epoch 36/50
2/2 [==============================] - 0s 11ms/step - loss: -2844274.0000 - accuracy: 0.0000e+00
Epoch 37/50
2/2 [==============================] - 0s 10ms/step - loss: -2816383.9167 - accuracy: 0.0000e+00
Epoch 38/50
2/2 [==============================] - 0s 2ms/step - loss: -2807245.8333 - accuracy: 0.0000e+00
Epoch 39/50
2/2 [==============================] - 0s 3ms/step - loss: -2924456.0000 - accuracy: 0.0000e+00
Epoch 40/50
2/2 [==============================] - 0s 6ms/step - loss: -2879120.0000 - accuracy: 0.0000e+00
Epoch 41/50
2/2 [==============================] - 0s 2ms/step - loss: -2815815.8333 - accuracy: 0.0000e+00
Epoch 42/50
2/2 [==============================] - 0s 5ms/step - loss: -2907003.6667 - accuracy: 0.0000e+00
Epoch 43/50
2/2 [==============================] - 0s 4ms/step - loss: -2966350.0833 - accuracy: 0.0000e+00
Epoch 44/50
2/2 [==============================] - 0s 3ms/step - loss: -2865263.1667 - accuracy: 0.0000e+00
Epoch 45/50
2/2 [==============================] - ETA: 0s - loss: -3355953.2500 - accuracy: 0.0000e+0 - 0s 3ms/step - loss: -3120040.4167 - accuracy: 0.0000e+00
Epoch 46/50
2/2 [==============================] - 0s 4ms/step - loss: -3135988.4167 - accuracy: 0.0000e+00
Epoch 47/50
2/2 [==============================] - 0s 9ms/step - loss: -3112437.0000 - accuracy: 0.0000e+00
Epoch 48/50
2/2 [==============================] - 0s 3ms/step - loss: -3043973.8333 - accuracy: 0.0000e+00
Epoch 49/50
2/2 [==============================] - 0s 3ms/step - loss: -3115764.8333 - accuracy: 0.0000e+00
Epoch 50/50
2/2 [==============================] - 0s 3ms/step - loss: -3203529.6667 - accuracy: 0.0000e+00

In [47]:
#RF?
#Create variables from df
# Split our preprocessed data into our features and target arrays
y = clean_bins_df.totalyearlycompensation.values
X = clean_bins_df.drop(columns=['totalyearlycompensation'])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
2/2 [==============================] - 0s 3ms/step - loss: 1479053.5000 - accuracy: 0.0000e+00
Epoch 2/50
2/2 [==============================] - 0s 7ms/step - loss: 1455603.4167 - accuracy: 0.0000e+00
Epoch 3/50
2/2 [==============================] - 0s 30ms/step - loss: 1360177.3750 - accuracy: 0.0000e+00
Epoch 4/50
2/2 [==============================] - 0s 5ms/step - loss: 1280497.1667 - accuracy: 0.0000e+00
Epoch 5/50
2/2 [==============================] - 0s 8ms/step - loss: 1284928.9583 - accuracy: 0.0000e+00
Epoch 6/50
2/2 [==============================] - 0s 11ms/step - loss: 1095722.5625 - accuracy: 0.0000e+00
Epoch 7/50
2/2 [==============================] - 0s 8ms/step - loss: 1141892.5000 - accuracy: 0.0000e+00
Epoch 8/50
2/2 [==============================] - 0s 4ms/step - loss: 1103955.1667 - accuracy: 0.0000e+00
Epoch 9/50
2/2 [==============================] - 0s 3ms/step - loss: 873264.8958 - accuracy: 0.0000e+00
Epoch 10/50
2/2 [==============================] - 0s 5ms/step - loss: 740809.6250 - accuracy: 0.0000e+00
Epoch 11/50
2/2 [==============================] - 0s 5ms/step - loss: 574848.6042 - accuracy: 0.0000e+00
Epoch 12/50
2/2 [==============================] - 0s 4ms/step - loss: 688016.2500 - accuracy: 0.0000e+00
Epoch 13/50
2/2 [==============================] - 0s 4ms/step - loss: 534551.8438 - accuracy: 0.0000e+00
Epoch 14/50
2/2 [==============================] - 0s 2ms/step - loss: 517530.9792 - accuracy: 0.0000e+00
Epoch 15/50
2/2 [==============================] - 0s 5ms/step - loss: 371574.8750 - accuracy: 0.0000e+00
Epoch 16/50
2/2 [==============================] - 0s 3ms/step - loss: 232580.3125 - accuracy: 0.0000e+00
Epoch 17/50
2/2 [==============================] - 0s 5ms/step - loss: 68962.7682 - accuracy: 0.0000e+00
Epoch 18/50
2/2 [==============================] - 0s 7ms/step - loss: 25047.1480 - accuracy: 0.0000e+00
Epoch 19/50
2/2 [==============================] - 0s 3ms/step - loss: 24392.0104 - accuracy: 0.0000e+00
Epoch 20/50
2/2 [==============================] - 0s 2ms/step - loss: -80671.0755 - accuracy: 0.0000e+00
Epoch 21/50
2/2 [==============================] - 0s 3ms/step - loss: -48425.8880 - accuracy: 0.0000e+00
Epoch 22/50
2/2 [==============================] - 0s 5ms/step - loss: -38001.5000 - accuracy: 0.0000e+00
Epoch 23/50
2/2 [==============================] - 0s 6ms/step - loss: -417847.2292 - accuracy: 0.0000e+00
Epoch 24/50
2/2 [==============================] - 0s 5ms/step - loss: -423218.8958 - accuracy: 0.0000e+00
Epoch 25/50
2/2 [==============================] - 0s 2ms/step - loss: -878142.4583 - accuracy: 0.0000e+00
Epoch 26/50
2/2 [==============================] - 0s 8ms/step - loss: -984142.0417 - accuracy: 0.0000e+00
Epoch 27/50
2/2 [==============================] - 0s 3ms/step - loss: -1093841.4583 - accuracy: 0.0000e+00
Epoch 28/50
2/2 [==============================] - 0s 6ms/step - loss: -1192987.7708 - accuracy: 0.0000e+00
Epoch 29/50
2/2 [==============================] - 0s 4ms/step - loss: -1349370.5833 - accuracy: 0.0000e+00
Epoch 30/50
2/2 [==============================] - 0s 7ms/step - loss: -1450772.6667 - accuracy: 0.0000e+00
Epoch 31/50
2/2 [==============================] - 0s 4ms/step - loss: -1601016.6667 - accuracy: 0.0000e+00
Epoch 32/50
2/2 [==============================] - 0s 6ms/step - loss: -1599630.5000 - accuracy: 0.0000e+00
Epoch 33/50
2/2 [==============================] - 0s 4ms/step - loss: -1501335.5833 - accuracy: 0.0000e+00
Epoch 34/50
2/2 [==============================] - 0s 9ms/step - loss: -1702398.0833 - accuracy: 0.0000e+00
Epoch 35/50
2/2 [==============================] - 0s 6ms/step - loss: -1757194.2500 - accuracy: 0.0000e+00
Epoch 36/50
2/2 [==============================] - 0s 4ms/step - loss: -1825934.9583 - accuracy: 0.0000e+00
Epoch 37/50
2/2 [==============================] - 0s 7ms/step - loss: -1950629.7500 - accuracy: 0.0000e+00
Epoch 38/50
2/2 [==============================] - 0s 6ms/step - loss: -1919488.9167 - accuracy: 0.0000e+00
Epoch 39/50
2/2 [==============================] - 0s 2ms/step - loss: -2227846.5833 - accuracy: 0.0000e+00
Epoch 40/50
2/2 [==============================] - 0s 4ms/step - loss: -2315590.1667 - accuracy: 0.0000e+00
Epoch 41/50
2/2 [==============================] - 0s 8ms/step - loss: -2360690.1667 - accuracy: 0.0000e+00
Epoch 42/50
2/2 [==============================] - 0s 11ms/step - loss: -2174808.5000 - accuracy: 0.0000e+00
Epoch 43/50
2/2 [==============================] - 0s 3ms/step - loss: -2242015.7500 - accuracy: 0.0000e+00
Epoch 44/50
2/2 [==============================] - 0s 4ms/step - loss: -2437219.0000 - accuracy: 0.0000e+00
Epoch 45/50
2/2 [==============================] - 0s 6ms/step - loss: -2083037.8333 - accuracy: 0.0000e+00
Epoch 46/50
2/2 [==============================] - 0s 4ms/step - loss: -2246717.1667 - accuracy: 0.0000e+00
Epoch 47/50
2/2 [==============================] - 0s 3ms/step - loss: -2328747.0833 - accuracy: 0.0000e+00
Epoch 48/50
2/2 [==============================] - ETA: 0s - loss: -2818002.5000 - accuracy: 0.0000e+0 - 0s 5ms/step - loss: -2518063.3333 - accuracy: 0.0000e+00
Epoch 49/50
2/2 [==============================] - 0s 4ms/step - loss: -2425430.7500 - accuracy: 0.0000e+00
Epoch 50/50
2/2 [==============================] - 0s 4ms/step - loss: -2392307.1667 - accuracy: 0.0000e+00
1/1 - 0s - loss: -2.3597e+06 - accuracy: 0.0000e+00
Loss: -2359740.75, Accuracy: 0.0

In [49]:
# Stratified kfolds cross validation
from statistics import mean, stdev
from sklearn import preprocessing
from sklearn.model_selection import StratifiedKFold
from sklearn import linear_model
from sklearn import datasets

In [50]:
# Feature Scaling for input features.
scaler = preprocessing.MinMaxScaler()
x_scaled = scaler.fit_transform(X)

In [51]:
# Create  classifier object.
lr = linear_model.LogisticRegression()

In [52]:
#  Create StratifiedKFold object.
skf = StratifiedKFold(n_splits=2, shuffle=True, random_state=42)
lst_accu_stratified = []

In [53]:
for train_index, test_index in skf.split(X, y):
    x_train_fold, x_test_fold = x_scaled[train_index], x_scaled[test_index]
    y_train_fold, y_test_fold = y[train_index], y[test_index]
    lr.fit(x_train_fold, y_train_fold)
    lst_accu_stratified.append(lr.score(x_test_fold, y_test_fold))

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  UserWarning,

In [54]:
# Print the output.
print('List of possible accuracy:', lst_accu_stratified)
print('\nMaximum Accuracy That can be obtained from this model is:',
      max(lst_accu_stratified)*100, '%')
print('\nMinimum Accuracy:',
      min(lst_accu_stratified)*100, '%')
print('\nOverall Accuracy:',
      mean(lst_accu_stratified)*100, '%')
print('\nStandard Deviation is:', stdev(lst_accu_stratified))

List of possible accuracy: [0.030303030303030304, 0.0]

Maximum Accuracy That can be obtained from this model is: 3.0303030303030303 %

Minimum Accuracy: 0.0 %

Overall Accuracy: 1.5151515151515151 %

Standard Deviation is: 0.02142747821777417

In [55]:
# Split our preprocessed data into our features and target arrays
y = clean_bins_df.totalyearlycompensation.values
X = clean_bins_df.drop(columns=['totalyearlycompensation'])

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [57]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [58]:
# cross validation
from sklearn.model_selection import cross_validate
from sklearn import datasets, linear_model
linreg = LinearRegression()
scoring = "balanced_accuracy"
linscores = cross_validate(linreg, X_train, y_train, scoring=scoring, return_estimator=True)

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:775: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 762, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 221, in __call__
    sample_weight=sample_weight,
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 1949, in balanced_accuracy_score
    C = confusion_matrix(y_true, y_pred, sample_weight=sample_weight)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 302, in confusion_matrix
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:775: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 762, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 221, in __call__
    sample_weight=sample_weight,
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 1949, in balanced_accuracy_score
    C = confusion_matrix(y_true, y_pred, sample_weight=sample_weight)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 302, in confusion_matrix
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:775: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 762, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 221, in __call__
    sample_weight=sample_weight,
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 1949, in balanced_accuracy_score
    C = confusion_matrix(y_true, y_pred, sample_weight=sample_weight)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 302, in confusion_matrix
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:775: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 762, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 221, in __call__
    sample_weight=sample_weight,
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 1949, in balanced_accuracy_score
    C = confusion_matrix(y_true, y_pred, sample_weight=sample_weight)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 302, in confusion_matrix
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:775: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 762, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 221, in __call__
    sample_weight=sample_weight,
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 1949, in balanced_accuracy_score
    C = confusion_matrix(y_true, y_pred, sample_weight=sample_weight)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 302, in confusion_matrix
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,

In [59]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.38440328337008167
Testing Score: -0.9589725205229851

In [60]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [61]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [62]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([261192.91666667, 194261.25      , 231481.25      , 360621.66666667,
       180636.25      , 337295.        , 194388.33333333, 227260.83333333,
       242731.25      , 154710.        , 233711.25      , 352455.        ,
       204303.33333333, 192598.33333333])

In [63]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7715314293139572
Testing Score: -1.6626956999737725

In [64]:
clean_bins_new = clean_dummies.copy()
clean_bins_new = clean_bins_new[clean_bins_new['totalyearlycompensation']<800000]#got rid of the three outliers
# clean_bins_df['totalyearlycompensation'].nunique()
clean_bins_new['totalyearlycompensation'].nunique()

372

In [65]:
# Split our preprocessed data into our features and target arrays
y = clean_bins_new.totalyearlycompensation.values
X = clean_bins_new.drop(columns=['totalyearlycompensation'])

In [66]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [67]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [68]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([195331.47009935, 154327.66666667, 266427.52242128, 330432.5       ,
       332934.30916306, 299103.68935231, 240311.25      , 266427.52242128,
       234351.51517927, 131671.88095238, 334282.29166667, 428061.90069979,
       146749.39554739, 161651.40521978, 217601.57142857, 165771.9047619 ,
       213018.4476912 , 148318.75      , 201082.08333333, 317133.89069264,
       193740.64285714, 392247.20833333, 189748.41666667, 264485.1984127 ,
       156737.5       , 202756.3008216 , 253438.89455677, 358040.01190476,
       132863.21428571, 253438.89455677, 116853.83333333, 427110.52777778,
       146749.39554739, 262691.25      , 302102.38816739, 193799.69444444,
       167814.38690476, 137906.        , 215191.8452381 , 207641.28373016,
       253438.89455677, 125868.98701299, 222545.96255828, 339560.79166667,
       367610.89285714, 175977.4900308 , 313341.26190476, 345400.83333333,
       189673.81277056, 244706.66666667, 178369.48605561, 270001.98259895,
       187332.17063492, 145867.5       , 142649.35171278, 300678.5218254 ,
       297320.97619048, 302102.38816739, 165777.6893216 , 257655.65482136,
       177049.91666667, 124938.04329004, 263147.91666667, 255374.32305195,
       117580.11904762, 202731.23477911, 250445.83333333, 124785.16666667,
       117372.33333333, 170592.75      , 228729.25286968, 156737.5       ,
       112106.66666667, 116871.74945887, 205709.39613679, 105855.        ,
       213002.61904762, 122707.8452381 , 246679.08621934, 146749.39554739,
       130120.        , 122118.33333333, 221803.33333333, 290313.15261128,
       112111.66666667, 150182.33333333, 264485.1984127 , 142649.35171278,
       318666.66666667, 139806.20833333, 205709.39613679, 166780.85854423,
       101096.5       , 121355.66666667, 157672.41071429, 125896.33333333,
       279729.58333333, 135765.08333333, 205709.39613679, 132880.08333333,
       168321.66666667, 171832.08261183, 171681.98791113, 195331.47009935,
       283218.33333333, 181983.75      ,  99313.        , 190647.2202381 ,
       252995.1758658 , 115026.66666667, 202065.89730408, 197051.        ,
       202599.        , 142649.35171278, 152498.        , 276905.23611111,
       219473.59920635, 236612.06313131, 176455.        , 290583.07883783,
       152028.5       , 119950.16666667, 113778.5       , 240273.85714286,
       240273.85714286, 259706.44751082, 262640.73809524, 188870.41666667,
       174497.67032967, 185342.08333333, 174619.49302692,  79817.5       ,
       165777.6893216 , 266431.51479076, 150265.        , 163899.25649351,
       187382.5       , 248193.16131091, 228194.80555556, 121009.25      ,
       266427.52242128, 122997.95260703, 237288.91666667, 205536.68474581,
       261413.96464646, 150555.96428571, 264485.1984127 , 185699.50577201,
       158057.66913642, 345400.83333333, 142649.35171278, 250050.68037518,
       121720.89285714, 168341.38095238, 190634.06715507, 207067.5       ,
       203437.95238095, 218075.83333333, 270001.98259895, 152679.66666667,
       156026.13095238, 106448.5       , 176455.        , 116905.        ,
       153346.20833333, 362774.16666667, 121083.58333333, 143011.66666667,
       175693.75      , 195875.31096681, 329927.6960262 , 142649.35171278,
       280130.03896104, 207681.07142857, 446078.17063492, 191374.25      ,
       101258.33333333, 148414.58333333,  94564.        , 158625.75      ,
       219749.20833333, 153331.98611111, 207235.83333333,  95158.97727273,
       111865.58333333, 249440.21428571, 145867.5       , 176676.41666667,
       221803.33333333, 142649.35171278, 180472.77380952, 115017.5       ,
       225198.66666667, 179953.91712454, 106104.05465368, 148281.73672161,
       450331.38888889, 185563.05508381, 158892.08333333, 398610.30952381,
       232561.85714286, 153346.20833333, 317874.43185388, 239179.75      ,
       162570.89321789, 108491.66666667, 266427.52242128, 267755.        ,
       154492.08333333, 212900.30176768, 180753.21428571, 174497.67032967,
       124895.83333333, 245127.30790043, 202756.3008216 , 175097.33333333,
       132872.41666667, 176633.19871795, 220157.39951797, 176191.68582112,
       221614.4796176 , 176676.41666667, 337706.25      , 179953.91712454,
       293693.92261905, 184157.08333333, 123005.66666667, 221019.89666543,
       240943.66666667, 129321.25      , 232821.25      , 190028.17107892,
       198018.58333333, 203988.50198413, 268584.94047619,  87604.25      ,
       233409.45220058, 171434.27380952, 226994.        , 190974.75      ,
       142649.35171278, 171890.94444444, 135839.94047619, 579244.84126984,
       156737.5       , 231781.44047619, 171172.05952381, 197278.70282659,
       172400.48791113, 133931.66666667, 175923.59722222, 266427.52242128,
       277269.13636364, 283218.33333333, 202731.23477911, 240163.08928571,
       200797.5       , 223919.66394716, 329490.44047619, 105309.25      ,
       179443.48809524, 115813.08333333, 116871.74945887, 209915.        ,
       198992.91666667, 161781.58928571, 176191.68582112,  81122.91666667,
       128269.10714286, 281610.17857143,  87219.16666667, 443099.58333333,
       255374.32305195, 294283.40277778, 309858.66071429, 238682.8452381 ,
       142649.35171278, 122997.95260703, 163899.25649351, 172221.5952381 ,
        86686.25      , 294260.41143579, 172214.89880952, 161720.        ,
       132437.08333333, 135664.83333333, 201931.96031746, 147750.33139746,
       210006.36309524, 160902.79761905, 333926.90620491, 125438.61904762,
       203988.50198413, 212833.83333333, 171832.08261183, 142649.35171278,
       188082.86309524, 185402.58333333, 210491.5       , 197625.        ,
       241313.80952381, 174607.16666667, 109390.75      , 165777.6893216 ,
       202065.89730408, 256132.85714286, 334223.14285714, 201335.09321234,
       197625.        , 155743.5       , 189673.81277056, 213269.16666667,
       346916.77380952, 252218.7797619 , 262863.9047619 , 252203.66666667,
       223144.16666667, 333926.90620491, 115639.70634921, 188408.08315296,
       296768.26388889, 124785.16666667, 187382.5       , 128829.58333333,
       244230.        , 228729.25286968, 237448.66666667, 202756.3008216 ,
       278473.57142857, 175492.91666667, 135709.83333333, 173023.45238095,
       218024.77727828, 213783.23809524, 255760.65873016, 258833.58333333,
       239828.13095238, 110840.        , 239011.46428571, 126733.41666667,
        86686.25      , 292861.26394439, 177049.91666667, 213018.4476912 ,
       277269.13636364, 253765.85714286, 195331.47009935, 282258.33333333,
       101672.46735209, 329927.6960262 ,  88150.83333333, 103355.66666667,
       161781.58928571, 176016.65277778, 164258.44895382, 115703.41666667,
       228729.25286968, 245127.30790043, 167902.5       , 130584.66666667,
       148138.33333333, 116006.01190476, 276905.23611111, 288385.04166667,
       174497.67032967, 164000.83333333, 260270.37301587, 129060.        ,
       158798.54738803, 165777.6893216 , 129523.41666667, 195331.47009935,
       227350.32936508, 146749.39554739, 218024.77727828, 188218.66666667,
       304961.        , 171832.08261183, 190001.05753968, 219208.63690476,
       239828.13095238, 144574.37301587, 146360.88095238, 388017.58333333,
        91467.16666667, 195331.47009935,  94925.83333333, 168480.27718809,
       137455.58333333, 175977.4900308 , 126870.75396825, 149778.06349206,
       137906.        , 340066.08333333, 139806.20833333, 134764.16666667,
       169760.        , 180472.77380952, 140399.16666667, 329490.44047619,
       176688.27380952, 268172.22431735, 219737.75      , 154149.58333333,
       257541.42857143, 258020.83333333, 239991.41269841, 375121.06862745,
       244984.91666667, 244984.91666667, 195331.47009935, 311668.45833333,
       205536.68474581, 318738.25      , 151520.        , 190991.5       ,
       174894.49603175, 449051.4035409 , 146416.13095238, 299118.3015873 ,
       538843.8452381 , 221019.89666543, 245345.01190476, 181387.        ,
       108817.33333333, 167158.61904762, 169959.69047619, 150692.33333333,
       206264.58333333, 201374.05212149, 142649.35171278, 164182.6547619 ,
       147750.33139746, 218024.77727828, 201335.09321234, 237483.99404762,
       221019.89666543, 267341.66666667, 141521.66666667, 269266.90584416,
       120852.66666667, 155515.        , 155454.88095238, 374828.18556444,
       206172.08333333])

In [69]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7561400847322535
Testing Score: 0.32542855293628925

In [70]:
# dropping those improved score by 11%
#RFR without binning, drop gender
clean_df2 = clean_df.copy()
clean_dummies2 = pd.get_dummies(clean_df2)
clean_dummies2

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_3M,company_3m,company_7-Eleven,company_ABB,company_ADP,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,10.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62233,190000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62240,155000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62285,185000,8.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62529,685000,22.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62623,175000,6.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
# Split our preprocessed data into our features and target arrays
y = clean_dummies2.totalyearlycompensation.values
X = clean_dummies2.drop(columns=['totalyearlycompensation'])

In [72]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [73]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [74]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([152803.33333333, 149795.        , 264833.125     , 278965.33333333,
       303618.69047619, 275675.83333333, 154506.66666667, 208640.93452381,
       249668.0297619 , 127980.        , 224337.5       , 184296.58333333,
       144978.75      , 156007.41666667, 225175.        , 125860.        ,
       213573.5       , 132402.        , 225507.5       , 335488.33333333,
       183607.91666667, 300125.66666667, 186916.66666667, 256263.02930403,
       155164.99206349, 180804.58333333, 206812.58333333, 358861.52380952,
       132399.98809524, 208568.83333333, 138034.58333333, 460836.08333333,
       141582.08333333, 253312.08333333, 220021.79166667, 169479.66666667,
       183255.91666667, 135195.17857143, 214880.41666667, 208372.52777778,
       207405.08333333, 126065.        , 165929.91666667, 307352.4047619 ,
       234205.        , 150115.        , 228569.21428571, 199069.28571429,
       280217.77777778, 216551.33333333, 163790.        , 324490.08333333,
       206110.375     , 183183.49603175, 136812.5       , 130841.01190476,
       236017.85714286, 251677.08333333, 219456.79166667, 153880.        ,
       253701.25      , 190487.5       , 120175.        , 226605.        ,
       294792.5       , 121190.        , 187132.75036075, 279410.        ,
       125627.5       ,  95750.        , 164308.13888889, 249673.54166667,
       155164.99206349, 117022.        , 126470.83333333, 244322.19215498,
        88885.        , 202225.86742424, 127048.        , 300007.16666667,
       136513.53571429, 141053.        , 124309.33333333, 311939.16666667,
       443562.41666667, 123492.5       , 208875.        , 256263.02930403,
       131184.16666667, 301360.        , 136475.83333333, 205613.31009719,
       148285.        , 151881.66666667, 106420.        , 150916.94047619,
       131955.5       , 238058.25      , 129620.71428571, 205613.31009719,
       149422.5       , 183865.        , 151144.58333333, 171912.38095238,
       157423.33333333, 188000.        , 203382.5       , 110082.5       ,
       182968.57142857, 223666.75      , 129525.        , 245460.11904762,
       196040.71428571, 197603.33333333, 130841.01190476, 171707.58333333,
       287926.83333333, 240275.        , 257687.66666667, 126795.        ,
       300853.        , 156059.58333333, 124170.13095238, 114805.        ,
       270536.        , 270536.        , 216791.15295815, 313230.        ,
       202586.45238095, 196793.33333333, 178285.        , 185343.21428571,
        84733.33333333, 153880.        , 259014.        , 168244.16666667,
       275250.        , 167140.        , 250937.1048396 , 256274.58333333,
       115300.        , 264833.125     , 140721.01190476, 305341.16666667,
       269703.08658009, 219859.58333333, 165592.5       , 256263.02930403,
       203737.5       , 166239.83333333, 199069.28571429, 139398.33333333,
       214978.16666667,  97990.        , 162394.16666667, 239975.98809524,
       156011.5       , 152930.        , 209470.22619048, 206110.375     ,
       165247.91666667, 197053.33333333, 111687.5       , 126795.        ,
       104980.        , 176400.        , 338448.875     , 116856.25      ,
       134201.25      , 178140.        , 221483.16666667, 300062.17857143,
       131278.16468254, 238659.95238095, 177717.5       , 493380.33333333,
       169573.33333333, 101821.66666667, 155446.33333333,  86483.33333333,
       125597.91666667, 222200.97619048, 170672.02380952, 193223.33333333,
        97885.        ,  78260.        , 259711.58333333, 124575.        ,
       157393.5       , 311939.16666667, 142006.5       , 178371.66666667,
       125291.66666667, 230081.95833333, 264895.66666667, 123630.        ,
       177921.66666667, 324275.41666667, 268606.91666667, 172099.44444444,
       471236.25      , 188625.94047619, 226395.        , 196961.54166667,
       231842.5       , 246103.61111111, 108912.5       , 418733.83333333,
       292587.5       , 153205.        , 213043.34946997, 186101.66666667,
       196793.33333333, 112756.66666667, 282796.25      , 328375.83333333,
       175118.08333333, 134947.91666667, 169751.66666667, 186045.        ,
       179143.33333333, 178381.52380952, 174634.85714286, 330825.83333333,
       264895.66666667, 300615.33333333, 171725.        , 182942.5       ,
       229071.93722944, 247149.16666667, 147239.58333333, 230650.        ,
       187448.75      , 148402.91666667, 203890.18344156, 250895.        ,
        80820.        , 235364.75      , 227752.36904762, 227698.83333333,
       198645.83333333, 131278.16468254, 329895.        , 125972.5       ,
       363851.66666667, 186448.65079365, 215292.25      , 127955.6547619 ,
       320890.5       , 160352.04761905, 120410.        , 177294.70580808,
       264833.125     , 337041.66666667, 188000.        , 187132.75036075,
       250279.40155678, 155702.41666667, 212946.90151515, 222443.0297619 ,
       119735.        , 160095.58333333, 122916.96428571, 126470.83333333,
       149395.        , 252355.64285714, 182042.57738095, 179143.33333333,
        70155.        , 143965.        , 278930.        ,  94618.33333333,
       437105.        , 258464.59271284, 281114.58333333, 324789.25      ,
       233385.25      , 131631.01190476, 139544.1468254 , 121736.48809524,
       165700.        ,  89468.33333333, 260526.88095238, 189383.33243146,
       230575.        , 135905.        , 156705.        , 200075.40728716,
       175296.66666667, 208894.875     , 193457.5       , 278158.25775613,
       128692.5       , 169640.35714286, 152451.66666667, 151810.        ,
       130841.01190476, 223750.        , 151092.5       , 178495.        ,
       179124.16666667, 170099.70879121, 221000.        , 137057.5       ,
       166415.        , 203537.18452381, 258349.01551227, 340767.        ,
       224508.84018759, 179124.16666667, 139010.        , 318215.        ,
       198497.33333333, 299220.96230159, 320216.91666667, 256403.52380952,
       295690.        , 180285.        , 278158.25775613, 120395.        ,
       239822.25      , 254708.5297619 , 115667.5       , 167140.        ,
       123396.25      , 172923.        , 216760.04166667, 242115.91666667,
       218391.64285714, 299309.5       , 176670.        , 156705.        ,
       219738.75      , 220163.4484127 , 134543.33333333, 187115.        ,
       273564.83333333, 236938.5       , 116150.        , 176402.21428571,
       145486.25      ,  89468.33333333, 313112.33333333, 158597.08333333,
       211739.16666667, 262614.66666667, 629565.        , 152803.33333333,
       129822.5       , 106215.        , 298935.51190476,  85265.        ,
       119260.        , 197237.24404762, 170181.75      , 152669.01064214,
       125080.        , 216760.04166667, 484296.25      , 396022.08333333,
       150388.        , 148395.        , 115845.        , 287926.83333333,
       174700.5       , 167734.        , 124190.        , 232910.6038961 ,
       119547.5       , 146305.23809524, 161865.        , 129986.25      ,
       223176.5       , 221387.58333333, 141582.08333333, 220163.4484127 ,
       191597.5       , 213030.29761905, 151394.58333333, 249876.25793651,
       222232.91945554, 236938.5       , 180188.33333333, 137328.41666667,
       485413.33333333, 122490.        , 152803.33333333,  86613.33333333,
       158867.85819532, 139930.        , 172942.41666667, 113160.        ,
       116410.        , 136464.16666667, 257697.41666667, 136475.83333333,
       129902.5       , 161197.77777778, 222535.83333333, 170903.33333333,
       222443.0297619 , 195779.52380952, 299120.13672439, 208116.03571429,
       151522.5       , 225168.99422799, 234770.        , 165102.75      ,
       319115.08333333, 181526.25      , 151652.5       , 152933.33333333,
       286573.33333333, 269703.08658009, 320987.5       , 158132.5       ,
       273128.33333333, 333105.        , 280309.        , 221335.83333333,
       302365.125     , 545472.5       , 200912.29166667, 253984.58333333,
       153670.41666667,  90395.        , 136145.        , 168723.88888889,
       179243.33333333, 207179.54166667, 196058.9716811 , 141483.0952381 ,
       144670.72619048, 145725.83333333, 220163.4484127 , 180835.21626984,
       264157.5       , 229071.93722944, 266668.75      , 134550.        ,
       257973.19246032, 119259.16666667, 142362.91666667, 176705.83333333,
       566030.        , 221479.16666667])

In [75]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8771159003270766
Testing Score: 0.4409559362315587

In [76]:
## improved another 5%
#next remove outliers in years experience- tested at 20(41.9%), 25(43.3%), 27(44.4%)
clean_df3 = clean_df2.copy()
clean_df3.yearsofexperience.value_counts()
# clean_df3 = clean_df3[clean_df3['yearsofexperience']<27.0]
# clean_df3.yearsofexperience.value_counts()

2.0     308
5.0     303
3.0     268
4.0     252
1.0     185
0.0     170
6.0     152
10.0    118
7.0     115
8.0     105
9.0      56
15.0     41
12.0     37
11.0     31
13.0     22
20.0     18
16.0     14
14.0     10
17.0      5
25.0      4
18.0      3
23.0      2
22.0      2
19.0      1
26.0      1
30.0      1
21.0      1
34.0      1
Name: yearsofexperience, dtype: int64

In [77]:
clean_dummies3 = pd.get_dummies(clean_df3)
clean_dummies3

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_3M,company_3m,company_7-Eleven,company_ABB,company_ADP,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,10.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62233,190000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62240,155000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62285,185000,8.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62529,685000,22.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62623,175000,6.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
# Split our preprocessed data into our features and target arrays
y = clean_dummies3.totalyearlycompensation.values
X = clean_dummies3.drop(columns=['totalyearlycompensation'])

In [79]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [80]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [81]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([152803.33333333, 149795.        , 264833.125     , 278965.33333333,
       303618.69047619, 275675.83333333, 154506.66666667, 208640.93452381,
       249668.0297619 , 127980.        , 224337.5       , 184296.58333333,
       144978.75      , 156007.41666667, 225175.        , 125860.        ,
       213573.5       , 132402.        , 225507.5       , 335488.33333333,
       183607.91666667, 300125.66666667, 186916.66666667, 256263.02930403,
       155164.99206349, 180804.58333333, 206812.58333333, 358861.52380952,
       132399.98809524, 208568.83333333, 138034.58333333, 460836.08333333,
       141582.08333333, 253312.08333333, 220021.79166667, 169479.66666667,
       183255.91666667, 135195.17857143, 214880.41666667, 208372.52777778,
       207405.08333333, 126065.        , 165929.91666667, 307352.4047619 ,
       234205.        , 150115.        , 228569.21428571, 199069.28571429,
       280217.77777778, 216551.33333333, 163790.        , 324490.08333333,
       206110.375     , 183183.49603175, 136812.5       , 130841.01190476,
       236017.85714286, 251677.08333333, 219456.79166667, 153880.        ,
       253701.25      , 190487.5       , 120175.        , 226605.        ,
       294792.5       , 121190.        , 187132.75036075, 279410.        ,
       125627.5       ,  95750.        , 164308.13888889, 249673.54166667,
       155164.99206349, 117022.        , 126470.83333333, 244322.19215498,
        88885.        , 202225.86742424, 127048.        , 300007.16666667,
       136513.53571429, 141053.        , 124309.33333333, 311939.16666667,
       443562.41666667, 123492.5       , 208875.        , 256263.02930403,
       131184.16666667, 301360.        , 136475.83333333, 205613.31009719,
       148285.        , 151881.66666667, 106420.        , 150916.94047619,
       131955.5       , 238058.25      , 129620.71428571, 205613.31009719,
       149422.5       , 183865.        , 151144.58333333, 171912.38095238,
       157423.33333333, 188000.        , 203382.5       , 110082.5       ,
       182968.57142857, 223666.75      , 129525.        , 245460.11904762,
       196040.71428571, 197603.33333333, 130841.01190476, 171707.58333333,
       287926.83333333, 240275.        , 257687.66666667, 126795.        ,
       300853.        , 156059.58333333, 124170.13095238, 114805.        ,
       270536.        , 270536.        , 216791.15295815, 313230.        ,
       202586.45238095, 196793.33333333, 178285.        , 185343.21428571,
        84733.33333333, 153880.        , 259014.        , 168244.16666667,
       275250.        , 167140.        , 250937.1048396 , 256274.58333333,
       115300.        , 264833.125     , 140721.01190476, 305341.16666667,
       269703.08658009, 219859.58333333, 165592.5       , 256263.02930403,
       203737.5       , 166239.83333333, 199069.28571429, 139398.33333333,
       214978.16666667,  97990.        , 162394.16666667, 239975.98809524,
       156011.5       , 152930.        , 209470.22619048, 206110.375     ,
       165247.91666667, 197053.33333333, 111687.5       , 126795.        ,
       104980.        , 176400.        , 338448.875     , 116856.25      ,
       134201.25      , 178140.        , 221483.16666667, 300062.17857143,
       131278.16468254, 238659.95238095, 177717.5       , 493380.33333333,
       169573.33333333, 101821.66666667, 155446.33333333,  86483.33333333,
       125597.91666667, 222200.97619048, 170672.02380952, 193223.33333333,
        97885.        ,  78260.        , 259711.58333333, 124575.        ,
       157393.5       , 311939.16666667, 142006.5       , 178371.66666667,
       125291.66666667, 230081.95833333, 264895.66666667, 123630.        ,
       177921.66666667, 324275.41666667, 268606.91666667, 172099.44444444,
       471236.25      , 188625.94047619, 226395.        , 196961.54166667,
       231842.5       , 246103.61111111, 108912.5       , 418733.83333333,
       292587.5       , 153205.        , 213043.34946997, 186101.66666667,
       196793.33333333, 112756.66666667, 282796.25      , 328375.83333333,
       175118.08333333, 134947.91666667, 169751.66666667, 186045.        ,
       179143.33333333, 178381.52380952, 174634.85714286, 330825.83333333,
       264895.66666667, 300615.33333333, 171725.        , 182942.5       ,
       229071.93722944, 247149.16666667, 147239.58333333, 230650.        ,
       187448.75      , 148402.91666667, 203890.18344156, 250895.        ,
        80820.        , 235364.75      , 227752.36904762, 227698.83333333,
       198645.83333333, 131278.16468254, 329895.        , 125972.5       ,
       363851.66666667, 186448.65079365, 215292.25      , 127955.6547619 ,
       320890.5       , 160352.04761905, 120410.        , 177294.70580808,
       264833.125     , 337041.66666667, 188000.        , 187132.75036075,
       250279.40155678, 155702.41666667, 212946.90151515, 222443.0297619 ,
       119735.        , 160095.58333333, 122916.96428571, 126470.83333333,
       149395.        , 252355.64285714, 182042.57738095, 179143.33333333,
        70155.        , 143965.        , 278930.        ,  94618.33333333,
       437105.        , 258464.59271284, 281114.58333333, 324789.25      ,
       233385.25      , 131631.01190476, 139544.1468254 , 121736.48809524,
       165700.        ,  89468.33333333, 260526.88095238, 189383.33243146,
       230575.        , 135905.        , 156705.        , 200075.40728716,
       175296.66666667, 208894.875     , 193457.5       , 278158.25775613,
       128692.5       , 169640.35714286, 152451.66666667, 151810.        ,
       130841.01190476, 223750.        , 151092.5       , 178495.        ,
       179124.16666667, 170099.70879121, 221000.        , 137057.5       ,
       166415.        , 203537.18452381, 258349.01551227, 340767.        ,
       224508.84018759, 179124.16666667, 139010.        , 318215.        ,
       198497.33333333, 299220.96230159, 320216.91666667, 256403.52380952,
       295690.        , 180285.        , 278158.25775613, 120395.        ,
       239822.25      , 254708.5297619 , 115667.5       , 167140.        ,
       123396.25      , 172923.        , 216760.04166667, 242115.91666667,
       218391.64285714, 299309.5       , 176670.        , 156705.        ,
       219738.75      , 220163.4484127 , 134543.33333333, 187115.        ,
       273564.83333333, 236938.5       , 116150.        , 176402.21428571,
       145486.25      ,  89468.33333333, 313112.33333333, 158597.08333333,
       211739.16666667, 262614.66666667, 629565.        , 152803.33333333,
       129822.5       , 106215.        , 298935.51190476,  85265.        ,
       119260.        , 197237.24404762, 170181.75      , 152669.01064214,
       125080.        , 216760.04166667, 484296.25      , 396022.08333333,
       150388.        , 148395.        , 115845.        , 287926.83333333,
       174700.5       , 167734.        , 124190.        , 232910.6038961 ,
       119547.5       , 146305.23809524, 161865.        , 129986.25      ,
       223176.5       , 221387.58333333, 141582.08333333, 220163.4484127 ,
       191597.5       , 213030.29761905, 151394.58333333, 249876.25793651,
       222232.91945554, 236938.5       , 180188.33333333, 137328.41666667,
       485413.33333333, 122490.        , 152803.33333333,  86613.33333333,
       158867.85819532, 139930.        , 172942.41666667, 113160.        ,
       116410.        , 136464.16666667, 257697.41666667, 136475.83333333,
       129902.5       , 161197.77777778, 222535.83333333, 170903.33333333,
       222443.0297619 , 195779.52380952, 299120.13672439, 208116.03571429,
       151522.5       , 225168.99422799, 234770.        , 165102.75      ,
       319115.08333333, 181526.25      , 151652.5       , 152933.33333333,
       286573.33333333, 269703.08658009, 320987.5       , 158132.5       ,
       273128.33333333, 333105.        , 280309.        , 221335.83333333,
       302365.125     , 545472.5       , 200912.29166667, 253984.58333333,
       153670.41666667,  90395.        , 136145.        , 168723.88888889,
       179243.33333333, 207179.54166667, 196058.9716811 , 141483.0952381 ,
       144670.72619048, 145725.83333333, 220163.4484127 , 180835.21626984,
       264157.5       , 229071.93722944, 266668.75      , 134550.        ,
       257973.19246032, 119259.16666667, 142362.91666667, 176705.83333333,
       566030.        , 221479.16666667])

In [82]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8771159003270766
Testing Score: 0.4409559362315587

In [91]:
##outliers removed with gender back in.. just to see
clean_df4 = clean_df_gender.copy()
clean_df4.gender.value_counts()
clean_dummies4 = pd.get_dummies(clean_df4)
clean_dummies4

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_3M,company_3m,company_7-Eleven,company_ABB,company_ADP,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,10.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62233,190000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62240,155000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62285,185000,8.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62529,685000,22.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62623,175000,6.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
# Split our preprocessed data into our features and target arrays
y = clean_dummies4.totalyearlycompensation.values
X = clean_dummies4.drop(columns=['totalyearlycompensation'])

In [93]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [94]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [95]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([155240.        , 149202.        , 264355.83333333, 276991.08333333,
       278713.52380952, 265380.        , 152135.        , 202438.33333333,
       251372.05952381, 129889.        , 267392.        , 184325.5       ,
       150029.16666667, 168831.16666667, 215096.25      , 126823.33333333,
       216916.66666667, 126192.5       , 226975.        , 326581.66666667,
       185220.91666667, 303923.        , 179735.        , 224267.89285714,
       157433.83333333, 181232.08333333, 217979.85714286, 403180.        ,
       135861.25      , 219874.85714286, 132045.33333333, 449506.5       ,
       143647.91666667, 263630.83333333, 232065.83333333, 174070.08333333,
       183673.75      , 137650.57142857, 219066.        , 206040.41666667,
       219144.85714286, 127290.        , 167262.        , 304541.98809524,
       234381.66666667, 148680.        , 236415.25      , 197475.33333333,
       228795.        , 218006.41666667, 165405.        , 321133.33333333,
       200064.95238095, 185123.38095238, 134182.        , 131481.42857143,
       240253.75      , 248369.16666667, 231435.83333333, 153675.        ,
       258535.        , 186789.66666667, 119272.5       , 232050.        ,
       281409.16666667, 119775.        , 190451.92857143, 276160.        ,
       124745.        ,  94360.        , 176016.25      , 260410.92857143,
       160724.41666667, 111072.5       , 126433.51190476, 238383.        ,
        89770.        , 199255.0297619 , 131568.5       , 307500.5       ,
       143363.03571429, 141750.        , 123688.33333333, 309753.19047619,
       431318.25      , 123064.16666667, 207263.33333333, 239700.66666667,
       130903.33333333, 272665.        , 136792.5       , 209608.99980575,
       151300.        , 149290.        , 107350.        , 152438.5       ,
       128315.        , 221552.94047619, 135950.83333333, 209608.99980575,
       148125.        , 185165.        , 149986.66666667, 175022.91666667,
       158040.        , 189130.        , 204310.        , 108225.        ,
       189459.25      , 212862.5       , 126980.        , 265630.        ,
       205467.5       , 198720.        , 131374.3452381 , 205452.02380952,
       258824.86904762, 238130.        , 249198.83333333, 120041.66666667,
       300548.        , 156698.33333333, 129971.66666667, 114225.        ,
       263753.69047619, 260027.5       , 212928.5       , 314654.70238095,
       200452.08333333, 197552.5       , 181800.        , 180198.83333333,
        84975.        , 156000.        , 267040.        , 168260.        ,
       248640.        , 165780.        , 277620.28571429, 256475.        ,
       117044.16666667, 264355.83333333, 135799.76190476, 286002.5       ,
       266879.66666667, 220380.        , 173065.        , 252549.66666667,
       198815.        , 163413.16666667, 197475.33333333, 139089.16666667,
       197582.10714286,  96065.        , 156318.66666667, 219306.69047619,
       158746.25      , 155305.        , 207689.58333333, 200064.95238095,
       160090.        , 198187.5       , 109220.        , 120041.66666667,
       103475.        , 178565.        , 268976.25      , 113395.        ,
       134114.16666667, 180805.        , 205603.16666667, 290300.83333333,
       135190.45634921, 241755.        , 173516.25      , 457075.        ,
       172600.        , 101500.41666667, 156810.83333333,  86386.25      ,
       120033.75      , 226333.92857143, 167187.66666667, 195490.        ,
       102077.5       ,  78690.        , 270642.83333333, 124147.        ,
       158399.58333333, 294690.        , 144242.91666667, 189010.46031746,
       126465.        , 225785.        , 270733.83333333, 121360.        ,
       165264.        , 327924.58333333, 272356.33333333, 172478.33333333,
       439028.75      , 189807.        , 222815.        , 198854.85714286,
       236818.33333333, 253485.25974026, 107469.16666667, 422308.        ,
       315137.5       , 156785.        , 211672.66107504, 183146.66666667,
       212039.83333333, 112585.        , 272965.        , 328820.58333333,
       177042.33333333, 127985.33333333, 166141.        , 173798.33333333,
       175667.75      , 181370.        , 174089.02380952, 322388.11904762,
       270733.83333333, 299877.08333333, 170405.        , 187982.5       ,
       230061.1038961 , 259182.08333333, 146922.5       , 227410.        ,
       191317.33333333, 148872.5       , 234328.98214286, 255265.        ,
        80707.5       , 248037.92857143, 222114.        , 225950.83333333,
       191040.41666667, 135190.45634921, 316601.5       , 125494.16666667,
       369470.        , 187849.58333333, 221115.83333333, 131403.62103175,
       320936.41666667, 162814.83333333, 119510.        , 171074.40277778,
       264355.83333333, 338163.33333333, 189130.        , 190451.92857143,
       282734.75      , 156695.        , 231423.5       , 219633.57142857,
       118970.        , 156796.66666667, 127510.        , 126433.51190476,
       148455.        , 257422.08333333, 178004.66666667, 183720.41666667,
        69565.        , 146270.        , 254885.        ,  95515.        ,
       428967.5       , 255724.82142857, 275475.        , 327217.5       ,
       222805.        , 133029.76190476, 140547.77777778, 122889.10714286,
       164335.        ,  90780.        , 266902.5       , 179546.98809524,
       235177.5       , 138370.        , 162655.        , 198220.06152181,
       150665.        , 208715.        , 189852.5       , 273478.81944444,
       132355.41666667, 170510.        , 154460.        , 152550.        ,
       131959.76190476, 280699.        , 149240.75      , 189130.        ,
       176478.33333333, 174201.77380952, 221647.5       , 135142.08333333,
       165545.        , 197830.78571429, 259061.57936508, 341492.5       ,
       173035.58333333, 176478.33333333, 140355.        , 300180.        ,
       200516.25      , 329970.98214286, 337444.16666667, 267350.        ,
       285224.        , 172470.        , 273478.81944444, 115125.        ,
       232754.58333333, 256790.70833333, 115065.        , 165780.        ,
       122294.16666667, 178262.5       , 221413.0952381 , 232210.        ,
       220173.33333333, 269087.41666667, 174260.        , 156065.        ,
       222908.83333333, 198020.08333333, 138166.66666667, 195749.5       ,
       267900.41666667, 236210.        , 111137.5       , 188504.83333333,
       141622.        ,  90780.        , 318603.        , 159601.33333333,
       211631.66666667, 274074.66666667, 617935.        , 157700.        ,
       129393.75      , 102400.        , 289388.        ,  85130.        ,
       115855.        , 194234.91666667, 173933.58333333, 162063.13690476,
       120645.        , 221413.0952381 , 398435.        , 410805.        ,
       147630.        , 145316.66666667, 117080.        , 345356.66666667,
       201526.75      , 169148.25      , 123070.        , 258841.5       ,
       118055.        , 146705.35714286, 160030.        , 124405.33333333,
       222744.        , 226726.25      , 147644.16666667, 198020.08333333,
       192280.        , 195435.        , 154971.25      , 251768.53715729,
       221825.34992785, 236210.        , 181190.        , 132508.5       ,
       457985.        , 120652.5       , 156300.        ,  86615.        ,
       154223.74404762, 141590.        , 173697.        , 108655.        ,
       117655.        , 135935.        , 255097.41666667, 130227.5       ,
       131429.16666667, 168747.5       , 213858.66666667, 173075.83333333,
       219633.57142857, 196113.7797619 , 293145.71428571, 203232.91666667,
       149437.5       , 224155.38636364, 230273.25      , 165927.91666667,
       316373.33333333, 179731.25      , 153306.25      , 155240.        ,
       263150.        , 282359.58333333, 247866.25      , 157887.5       ,
       237800.33333333, 343784.16666667, 284565.        , 220302.5       ,
       316373.75      , 540222.5       , 231345.21212121, 243926.5       ,
       159536.91666667,  92220.        , 134305.        , 175353.29365079,
       179610.        , 219846.45833333, 217204.16666667, 141478.0952381 ,
       146193.75      , 146473.33333333, 232308.61904762, 204832.72619048,
       268448.1547619 , 230061.1038961 , 263532.44047619, 137220.        ,
       240434.75      , 121485.        , 143953.33333333, 178131.66666667,
       557040.        , 219145.83333333])

In [96]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8971384910885212
Testing Score: 0.4489019266072075

In [99]:
#gender but drop other
clean_df4 = clean_df_gender.copy()
# clean_df4.gender.value_counts()
clean_df5 = clean_df4[clean_df4['gender']!= 'Other']
clean_df5.gender.value_counts()

Male      1145
Female     323
Name: gender, dtype: int64

In [100]:
clean_dummies5 = pd.get_dummies(clean_df5)
clean_dummies5

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_3M,company_3m,company_7-Eleven,company_ABB,company_ADP,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,10.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62233,190000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62240,155000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62285,185000,8.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62529,685000,22.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62623,175000,6.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
# Split our preprocessed data into our features and target arrays
y = clean_dummies5.totalyearlycompensation.values
X = clean_dummies5.drop(columns=['totalyearlycompensation'])

In [103]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [104]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [105]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([263155.83333333, 278755.        , 288410.        , 266945.        ,
       153133.75      , 202840.        , 257165.48809524, 128532.08333333,
       288603.75      , 183247.75      , 148233.75      , 165661.08333333,
       219582.5       , 128007.08333333, 216414.        , 128254.16666667,
       222935.        , 320648.33333333, 185257.66666667, 307045.71428571,
       181535.        , 220341.91666667, 155319.35714286, 185009.        ,
       212200.        , 395640.        , 137448.29166667, 213542.08333333,
       134415.        , 443842.5       , 141719.16666667, 258545.        ,
       231186.66666667, 172667.5       , 185056.25      , 134137.75      ,
       218593.45238095, 206015.41666667, 213862.08333333, 127881.66666667,
       172755.        , 297361.63095238, 229917.5       , 152156.66666667,
       231602.02380952, 195886.95238095, 236602.5       , 220508.91666667,
       165840.        , 198341.83333333, 183582.97619048, 129470.        ,
       131160.41666667, 245125.25      , 261980.        , 230866.66666667,
       149290.        , 262774.5       , 182708.75      , 125110.        ,
       232862.5       , 277168.        , 119455.        , 188004.02777778,
       273192.5       , 125715.        ,  95450.        , 178388.75      ,
       259220.        , 160578.58333333, 111662.5       , 128056.42857143,
       240636.        ,  87547.5       , 199326.38095238, 136043.29166667,
       298166.83333333, 144397.5       , 143273.75      , 122700.        ,
       306535.        , 424219.        , 125630.        , 201471.66666667,
       229111.13095238, 131694.16666667, 274220.        , 139571.66666667,
       214600.81854257, 145665.        , 152155.        , 109565.        ,
       151729.58333333, 134399.16666667, 213979.16666667, 132029.95833333,
       214600.81854257, 144620.        , 180505.        , 150692.5       ,
       177655.66666667, 147985.        , 203990.        , 205126.66666667,
       110210.        , 184672.58333333, 216159.28571429, 125890.        ,
       270852.5       , 207055.        , 197686.66666667, 128047.91666667,
       207413.83333333, 258372.16666667, 237265.        , 254580.        ,
       121595.        , 305487.33333333, 155285.        , 127037.5       ,
       119338.33333333, 264165.        , 259700.83333333, 229003.42857143,
       327425.875     , 201539.58333333, 197742.5       , 179345.        ,
       181592.07142857,  81530.83333333, 149335.        , 262340.        ,
       171105.        , 252210.        , 164095.        , 275223.46428571,
       252805.5       , 121921.66666667, 263155.83333333, 139634.16666667,
       282558.33333333, 263681.45833333, 218010.        , 167375.        ,
       243107.11111111, 195849.        , 155836.66666667, 195886.95238095,
       138759.16666667, 194753.79761905,  99975.        , 160210.33333333,
       220086.66666667, 149666.25      , 147240.        , 209926.16666667,
       198341.83333333, 152115.        , 194114.28571429, 108630.        ,
       121595.        , 101630.        , 187055.        , 267613.        ,
       112580.        , 138540.        , 176135.        , 211819.16666667,
       289805.83333333, 134784.91071429, 242313.33333333, 181380.        ,
       471497.5       , 177003.33333333, 101996.66666667, 156704.91666667,
        85867.5       , 123262.5       , 224796.54761905, 170152.83333333,
       189653.75      , 101165.        ,  77940.        , 276077.41666667,
       122295.        , 156753.33333333, 289015.        , 144184.58333333,
       184137.05357143, 127187.08333333, 225467.5       , 268426.66666667,
       119070.        , 165928.83333333, 328314.16666667, 279741.55357143,
       172541.66666667, 476443.75      , 190249.        , 226663.75      ,
       195962.66666667, 238658.33333333, 253207.59920635, 111860.        ,
       419204.75      , 317592.5       , 153880.        , 212013.6984127 ,
       187120.        , 210664.82142857, 114105.        , 266127.83333333,
       350203.66666667, 175592.83333333, 126260.        , 168789.58333333,
       173424.83333333, 174097.5       , 186275.        , 174511.        ,
       322735.        , 268426.66666667, 287921.25      , 169805.        ,
       189165.        , 230516.9047619 , 263270.        , 140283.33333333,
       222870.        , 191920.10714286, 156402.5       , 234568.79166667,
       253741.25      ,  79594.16666667, 242766.85714286, 227747.80952381,
       224634.66666667, 197002.        , 134784.91071429, 318848.33333333,
       125710.        , 360580.        , 186572.91666667, 219072.5       ,
       131206.19047619, 314552.5       , 166870.        , 122565.        ,
       169802.97619048, 263155.83333333, 328826.19047619, 203990.        ,
       188004.02777778, 276400.33333333, 154896.58333333, 231969.66666667,
       209773.42857143, 115125.        , 155725.33333333, 122785.        ,
       128056.42857143, 150660.        , 258689.16666667, 179172.08333333,
       186710.        ,  69288.33333333, 137765.        , 257595.        ,
        94299.16666667, 428270.        , 260958.97619048, 264438.75      ,
       327966.        , 223845.        , 132145.41666667, 139040.20833333,
       121951.59722222, 161800.        ,  88457.5       , 260203.75      ,
       179398.22204185, 237643.33333333, 133520.        , 166335.        ,
       201640.56547619, 151555.        , 203722.85714286, 190649.28571429,
       276490.45436508, 132615.41666667, 177930.83333333, 154895.        ,
       153315.        , 131526.25      , 291108.57142857, 149770.        ,
       188665.        , 182585.83333333, 171548.5       , 212468.41071429,
       132964.75      , 165480.        , 199013.83333333, 256501.91666667,
       339946.83333333, 171299.67857143, 182585.83333333, 131825.        ,
       316467.5       , 204488.16666667, 320195.53571429, 388682.5       ,
       273425.        , 282792.5       , 179035.        , 276490.45436508,
       114635.        , 236095.25      , 257650.35714286, 115125.        ,
       164095.        , 124871.66666667, 177841.66666667, 215608.97619048,
       235085.        , 219357.38095238, 281854.875     , 168840.66666667,
       157340.        , 216582.61904762, 197177.47619048, 138696.66666667,
       198290.        , 267284.58333333, 240574.16666667, 112640.        ,
       187928.25      , 139750.        ,  88457.5       , 314545.71428571,
       157118.75      , 213589.        , 261595.        , 614470.        ,
       145921.66666667, 131785.        , 101690.        , 293250.        ,
        87045.        , 119830.        , 201019.58333333, 174662.83333333,
       163936.25      , 119345.        , 215608.97619048, 379582.        ,
       429149.16666667, 155420.        , 143761.75      , 118335.        ,
       339149.52380952, 196555.63095238, 170234.5       , 124075.        ,
       269868.66666667, 122282.5       , 146180.5952381 , 155750.        ,
       120635.        , 222803.        , 222942.91666667, 147690.41666667,
       197177.47619048, 198036.25      , 188218.75      , 154644.58333333,
       249452.64880952, 222610.95220058, 240574.16666667, 181614.28571429,
       132670.66666667, 456941.66666667, 124785.        , 145921.66666667,
        88728.33333333, 156825.21212121, 134980.        , 181891.66666667,
       111240.        , 123210.        , 135575.        , 126492.5       ,
       136436.66666667, 166954.58333333, 199032.02380952, 179450.625     ,
       209773.42857143, 199809.16666667, 290124.86111111, 207639.91666667,
       143036.33333333, 220926.53174603, 236208.75      , 170769.5       ,
       311367.08333333, 178050.        , 150697.5       , 144346.66666667,
       273136.5       , 275990.625     , 254165.5       , 153970.        ,
       239932.5       , 343538.33333333, 291252.92857143, 213994.28571429,
       328945.60714286, 540960.        , 236677.01388889, 244302.33333333,
       157076.66666667,  91800.        , 131325.        , 171317.16666667,
       183337.5       , 220284.16666667, 208273.24404762, 141532.08333333,
       145943.33333333, 145927.66666667, 235597.16774892, 207721.19047619,
       262721.64285714, 230516.9047619 , 263050.83333333, 138361.66666667,
       239361.5       , 122645.        , 143327.5       , 176824.66071429,
       537512.5       , 218039.75      ])

In [106]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8980599412787564
Testing Score: 0.4714900790787738

In [ ]:
#XGBoost?
#!pip install xgboost

In [ ]:
#import xg--Troubleshoot in office hours
import xgboost

In [ ]:
# create an xgboost regression model
xg_model = XGBRegressor()