In [11]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [2]:
#read csv into df
df = pd.read_csv("Levels_Fyi_Salary_Data 2.csv")
# columns to drop... salary_currency, salary, work_year
df.sample(25)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
12504,10/29/2019 16:04:25,Zillow,P4,Software Engineer,242000,"San Francisco, CA",8.0,1.0,Android,187000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
15222,1/19/2020 12:45:16,Facebook,E3,Software Engineer,120000,"London, EN, United Kingdom",0.0,0.0,iOS,79000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
32898,10/15/2020 23:05:54,LinkedIn,Senior Software Engineer,Software Engineer,270000,"Sunnyvale, CA",5.0,2.0,API Development (Back-End),175000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
46427,3/29/2021 9:51:32,OYO,5a,Software Engineering Manager,310000,"Gurgaon, HR, India",10.0,1.0,Distributed Systems (Back-End),120000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
43218,2/26/2021 5:09:24,Citrix Systems Inc,Senior Software Engineer II,Software Engineer,151000,"Fort Lauderdale, FL",5.0,5.0,Full Stack,133000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
9298,7/31/2019 1:01:35,Amazon,L5,Software Engineer,215000,"Seattle, WA",3.0,3.0,Distributed Systems (Back-End),135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
49654,4/26/2021 15:17:02,Amazon,L5,Software Engineer,131000,"Dublin, DN, Ireland",4.0,2.0,API Development (Back-End),107000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
9691,8/15/2019 0:05:18,Goldman Sachs,Executive Director / Vice-President,Data Scientist,210000,"Jersey City, NJ",12.0,3.0,ML / AI,170000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
20368,5/3/2020 10:31:59,Intel,Grade 7,Hardware Engineer,150000,"Petah Tiqva, HM, Israel",3.0,3.0,Radar,120000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
16273,2/7/2020 22:45:15,Microsoft,62,Software Engineer,202000,"Sunnyvale, CA",4.0,0.0,Distributed Systems (Back-End),152000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
43709,3/2/2021 21:33:14,Amazon,SDE I,Software Engineer,179000,"New York, NY",0.0,0.0,Full Stack,127000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
58823,7/23/2021 21:40:36,Evernote,L3,Software Engineer,147000,"Redwood City, CA",5.0,1.0,iOS,142000.0,...,0,0,0,0,0,0,0,0,NaN,Bachelor's Degree
43805,3/3/2021 17:51:29,Faire,L4,Software Engineer,360000,"San Francisco, CA",5.0,0.0,Data,195000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
52565,5/27/2021 6:56:31,Pluralsight,P4,Software Engineer,162000,"Draper, UT",18.0,7.0,Full Stack,148000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
33314,10/20/2020 14:39:59,Google,L5,Product Designer,351000,"San Francisco, CA",8.0,0.0,Interaction Design,181000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
25664,8/4/2020 9:28:33,eBay,Principal MTS,Software Engineer,345000,"Portland, OR",20.0,10.0,Mobile (iOS + Android),200000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
16012,2/3/2020 1:54:15,Google,L4,Software Engineer,243000,"Mountain View, CA",3.0,3.0,Android,149000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
38978,1/8/2021 20:14:00,Amazon,L5,Software Engineer,282000,"Palo Alto, CA",14.0,0.0,Data,185000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
3882,1/23/2019 21:22:42,Google,L5,Software Engineer,305000,"San Francisco, CA",3.0,3.0,API Development (Back-End),170000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
61554,8/14/2021 11:00:01,Twilio,L3,Software Engineer,54000,"Bangalore, KA, India",5.0,1.0,API Development (Back-End),40000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
34250,10/30/2020 21:52:09,Amazon,L6,Software Engineer,235000,"Seattle, WA",19.0,3.0,Distributed Systems (Back-End),144000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
17461,2/25/2020 18:25:56,Amazon,Sde2,Software Engineer,175000,"Seattle, WA",15.0,6.0,Distributed Systems (Back-End),135000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
34697,11/5/2020 22:16:47,Flipkart,SDE 4,Software Engineer,108000,"Bengaluru, KA, India",7.0,3.0,Distributed Systems (Back-End),65000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
2196,10/29/2018 23:42:39,Amazon,SDE II,Software Engineer,195000,"Austin, TX",7.0,0.5,iOS,145000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
41545,2/8/2021 20:21:49,Citi,Analyst,Software Engineer,67000,"Mississauga, ON, Canada",1.0,0.0,Full Stack,59000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [3]:
df.nunique()

timestamp                  62561
company                     1631
level                       2923
title                         15
totalyearlycompensation      893
location                    1050
yearsofexperience             65
yearsatcompany                81
tag                         3058
basesalary                   482
stockgrantvalue              612
bonus                        335
gender                         4
otherdetails               12841
cityid                      1045
dmaid                        149
rowNumber                  62642
Masters_Degree                 2
Bachelors_Degree               2
Doctorate_Degree               2
Highschool                     2
Some_College                   2
Race_Asian                     2
Race_White                     2
Race_Two_Or_More               2
Race_Black                     2
Race_Hispanic                  2
Race                           5
Education                      5
dtype: int64

In [4]:
titles_df = df[df["title"]=="Data Scientist"]
titles_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
419,6/5/2018 14:06:30,LinkedIn,Senior,Data Scientist,233000,"San Francisco, CA",4.0,0.0,Data Analysis,162000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
440,6/8/2018 9:49:25,Microsoft,64,Data Scientist,218000,"Seattle, WA",11.0,11.0,ML / AI,165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
444,6/8/2018 17:55:09,ebay,26,Data Scientist,180000,"San Jose, CA",10.0,5.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
454,6/10/2018 19:39:35,Twitter,Staff,Data Scientist,500000,"San Francisco, CA",4.0,4.0,ML / AI,200000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
495,6/17/2018 11:39:38,Facebook,5,Data Scientist,370000,"Seattle, WA",8.0,3.0,NaN,190000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62240,3/26/2019 17:25:02,IBM,8,Data Scientist,155000,"Washington, DC",5.0,2.0,ML / AI,141000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62283,6/17/2018 21:07:18,Facebook,E3,Data Scientist,150000,"Singapore, SG, Singapore",0.0,0.0,ML / AI,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62285,7/16/2018 20:11:40,ADP,Sr UX Researcher 4,Data Scientist,185000,"Roseland, NJ",8.0,2.0,UX Research,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62529,6/12/2018 20:54:06,Google,T6,Data Scientist,685000,"Kirkland, WA",22.0,2.0,ML / AI,221000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62623,8/19/2018 20:31:37,Illumina,Bioinformatics Scientist II,Data Scientist,175000,"San Diego, CA",6.0,2.0,Bioinformatics,135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [5]:
# df1 = titles_df.copy()
# filtered_columns = ["company", "location", "yearsofexperience", "totalyearlycompensation",
#                  "Masters_Degree", "Bachelors_Degree"]
# df2 = df1[filtered_columns]
# # print(df1.shape)
# df2.head()

,company,location,yearsofexperience,totalyearlycompensation,Masters_Degree,Bachelors_Degree
419,LinkedIn,"San Francisco, CA",4.0,233000,0,0
440,Microsoft,"Seattle, WA",11.0,218000,0,0
444,ebay,"San Jose, CA",10.0,180000,0,0
454,Twitter,"San Francisco, CA",4.0,500000,0,0
495,Facebook,"Seattle, WA",8.0,370000,0,0

In [12]:
clean_df= titles_df.drop(columns=['timestamp', 'level', 'yearsatcompany', 'otherdetails','Highschool', 'Some_College', 
                               'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',
                              'Race_Hispanic', 'Race', 'Education','cityid','dmaid','rowNumber','tag','bonus','stockgrantvalue','basesalary','title'])
clean_df.head()
#get_dummies/oneHotEncoder on company size and employment type

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0

In [13]:
import re
form_state_one = r'(\w+\s)*(\w+),\s([A-Z]{2})$'
matches_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False)
no_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False).sum()
print(no_form_one)

form_state_two = r'(\w+\s)*(\w+),\s([A-Z]{2}),\s(\w+)'
matches_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False)
no_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False).sum()
print(no_form_two)


clean_df.location[~matches_form_one & ~matches_form_two]

2226
351

/var/folders/33/jt9zd52n2mj5v67vjjsn9k9hcf797x/T/ipykernel_89074/453713614.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False)
/var/folders/33/jt9zd52n2mj5v67vjjsn9k9hcf797x/T/ipykernel_89074/453713614.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  no_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False).sum()
/var/folders/33/jt9zd52n2mj5v67vjjsn9k9hcf797x/T/ipykernel_89074/453713614.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  matches_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False)
/var/folders/33/jt9zd52n2mj5v67vjjsn9k9hcf797x/T/ipykernel_89074/453713614.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  no_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False).sum()

9061    Tel Aviv, Israel
Name: location, dtype: object

In [14]:
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0

In [15]:
def US_location_to_state(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        state = re.sub('(\w+\s)*(\w+),\s','', city)
        
        # return state
        return state
    # otherwise, return NaN
    else:
        return np.nan
    

def location_to_city(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        city = re.sub(',\s([A-Z]{2})$','', city)
        
        # return state
        return city
    # otherwise, return NaN
    else:
        return np.nan
clean_df = clean_df.loc[clean_df.location != "Tel Aviv, Israel"]
clean_df

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0
...,...,...,...,...,...,...,...,...
62240,IBM,155000,"Washington, DC",5.0,Male,0,0,0
62283,Facebook,150000,"Singapore, SG, Singapore",0.0,Female,0,0,0
62285,ADP,185000,"Roseland, NJ",8.0,Male,0,0,0
62529,Google,685000,"Kirkland, WA",22.0,Male,0,0,0
62623,Illumina,175000,"San Diego, CA",6.0,NaN,0,0,0

In [16]:
clean_df['state'] = clean_df.location.str.extract(f'({form_state_one}|{form_state_two})', flags=re.IGNORECASE)[0].apply(US_location_to_state)

In [17]:
clean_df = clean_df[clean_df['state'].notna()]
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0,CA
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0,WA
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0,CA
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0,CA
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0,WA

In [18]:
clean_df['city'] = clean_df.location.str.extract(f'({form_state_one})', flags=re.IGNORECASE)[0].apply(location_to_city)
clean_df.drop('location', axis=1, inplace=True)
clean_df.head()

/var/folders/33/jt9zd52n2mj5v67vjjsn9k9hcf797x/T/ipykernel_89074/2822569473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['city'] = clean_df.location.str.extract(f'({form_state_one})', flags=re.IGNORECASE)[0].apply(location_to_city)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,company,totalyearlycompensation,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
419,LinkedIn,233000,4.0,Male,0,0,0,CA,San Francisco
440,Microsoft,218000,11.0,Male,0,0,0,WA,Seattle
444,ebay,180000,10.0,Female,0,0,0,CA,San Jose
454,Twitter,500000,4.0,Male,0,0,0,CA,San Francisco
495,Facebook,370000,8.0,Male,0,0,0,WA,Seattle

In [43]:
clean_df.drop(columns=['gender'], inplace=True)
clean_df.nunique()

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

company                    397
totalyearlycompensation    375
yearsofexperience           28
Masters_Degree               2
Bachelors_Degree             2
Doctorate_Degree             2
state                       39
city                       159
dtype: int64

In [44]:
print(clean_df["company"].value_counts().head(10))

Amazon          224
Microsoft       202
Facebook        175
Google           83
Apple            75
Uber             60
IBM              58
Capital One      44
LinkedIn         34
Walmart Labs     33
Name: company, dtype: int64

In [32]:
# #Binning he companies- .cut with 4 bins...do we want to specifically design these?
# bin_labels = ['Small', 'Medium', 'Large']
# bins3 = clean_df['company'].value_counts()
# company_bins = pd.cut(bins3, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
# company_bins

TypeError: cut() missing 1 required positional argument: 'bins'

In [31]:
#Binning he companies- .cut with 4 bins...do we want to specifically design these?
bin_labels = ['Small', 'Medium', 'Large', 'Very Large']
bins4 = clean_df['company'].value_counts()
company_bins = pd.cut(bins4, bins=4, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
company_bins

['Very Large',
 'Very Large',
 'Very Large',
 'Medium',
 'Medium',
 'Medium',
 'Medium',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small']

In [36]:
#change company name to bin name
companies = []
for company in clean_df['company']:
    if company == "Amazon" or company == "Microsoft" or company == "Facebook":
        company = "Large"
    elif company == "Google" or company == "Apple" or company == "IBM" or company=="Uber":
        company = "Medium"
    else:
        company = "Small"
    companies.append(company)

In [45]:
#reassign company column to bin name
clean_bins_df = clean_df.copy()
clean_bins_df['company'] = companies
clean_bins_df.head(10)
# clean_bins_df['gender'].value_counts()

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
419,Small,233000,4.0,0,0,0,CA,San Francisco
440,Large,218000,11.0,0,0,0,WA,Seattle
444,Small,180000,10.0,0,0,0,CA,San Jose
454,Small,500000,4.0,0,0,0,CA,San Francisco
495,Large,370000,8.0,0,0,0,WA,Seattle
499,Large,200000,3.0,0,0,0,WA,Seattle
509,Large,340000,11.0,0,0,0,WA,Bellevue
510,Medium,690000,10.0,0,0,0,WA,Kirkland
513,Small,600000,3.0,0,0,0,CA,Los Gatos
523,Small,168000,8.0,0,0,0,CA,Palo Alto

In [ ]:
# #is there linearity between location numerical representation and salary?
# clean_bins2 = clean_bins_df.drop(['location'], axis = 1)
# locations = clean_bins_df['location']
# clean_bins2.head()

In [ ]:
#Create label Encoder and encode categorical
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
clean_bins2['company']= lb_make.fit_transform(clean_bins2['company'])
clean_bins2['gender']= lb_make.fit_transform(clean_bins2['gender'])

clean_bins2.head()

In [ ]:
clean_bins2['gender'].value_counts() #what do we do with 4 genders?

In [ ]:
#OneHot to new categories
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
company_encoded = lb_make.fit_transform(clean_bins2['company'])
company_encoded = company_encoded.reshape(len(company_encoded), 1)
onehot_company_encoded = enc.fit_transform(company_encoded)
print(onehot_company_encoded)

In [46]:
#skip procedural with get_dummies()?
# clean_dummies = clean_dummies.drop(['gender_2'], axis=1)
clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'state', 'city'], drop_first=True)#drop the gender columns?
clean_dummies.head(15)

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,state_AR,state_AZ,state_CA,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,10.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,200000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
509,340000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
510,690000,10.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
513,600000,3.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
523,168000,8.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
535,187000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
570,225000,11.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
668,220000,6.0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
673,130000,7.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
740,112000,4.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
X = clean_dummies.drop(columns=["totalyearlycompensation"])
y = clean_dummies["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0.11764706, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32352941, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.29411765, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.23529412, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.64705882, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17647059, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [48]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y, 
                                                    random_state=42)

In [49]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.46040974002476753
Testing Score: -8.528218279851413e+24

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)

In [51]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X, y)

RandomForestRegressor(random_state=42)

In [52]:
Y_pred = regressor.predict(X_test)  # test the output by changing values

In [53]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.7409089141030387
Testing Score: 0.7325428098366673