In [154]:
#Dependencies
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score, r2_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import tensorflow as tf

In [155]:
#read csv into df
df = pd.read_csv("../Levels_Fyi_Salary_Data 2.csv")
# columns to drop... salary_currency, salary, work_year
df.sample(25)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
39436,1/14/2021 22:26:46,Amazon,L6,Technical Program Manager,215000,"Seattle, WA",11.0,2.0,DevOps,133000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
4102,2/4/2019 22:42:07,Microsoft,60,Software Engineer,128000,"Redmond, WA",3.0,3.0,Web Development (Front-End),0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
61876,9/16/2018 9:56:05,Amazon,L7,Software Engineering Manager,402000,"Seattle, WA",19.0,7.0,Full Stack,160000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
26666,8/15/2020 21:14:04,Intel Corporation,Grade 9,Software Engineer,226000,"Chandler, AZ",15.0,15.0,Distributed Systems (Back-End),165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
17948,3/6/2020 10:37:42,Google,L3,Technical Program Manager,177000,"Sunnyvale, CA",5.0,2.0,UX,116000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
49867,4/28/2021 10:56:05,Teradata,L2,Software Engineer,105000,"San Diego, CA",4.0,4.0,Cloud,98000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2587,11/5/2018 21:25:48,Splunk,P3,Software Engineer,157000,"Boulder, CO",3.0,0.0,Distributed Systems (Back-End),120000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
48757,4/18/2021 18:52:36,Uber,L5B,Software Engineer,485000,"New York, NY",6.0,0.0,Mobile (iOS + Android),222000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
51450,5/14/2021 10:38:58,Facebook,E5,Software Engineer,424000,"Seattle, WA",11.0,2.0,ML / AI,210000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
41243,2/4/2021 19:15:54,Amazon,L6,Recruiter,245000,"New York, NY",10.0,1.0,Operations,145000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
24936,7/25/2020 13:15:22,Grab,G5,Technical Program Manager,146000,"Singapore, SG, Singapore",12.0,3.0,Ot,110000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
55033,6/20/2021 16:43:31,Criteo,L2,Software Engineer,121000,"Ann Arbor, MI",3.0,0.0,Full Stack,95000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
61601,8/15/2021 2:21:31,ASUS,5,Software Engineer,61000,"Taipei, TP, Taiwan",4.0,2.0,Web Development (Front-End),49000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
56255,7/1/2021 4:04:49,Amazon,L5,Software Engineer,77000,"Delhi, DL, India",4.0,1.0,API Development (Back-End),62000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
46150,3/26/2021 12:12:56,Better Mortgage,L4,Software Engineer,140000,"New York, NY",2.0,0.0,Full Stack,140000.0,...,0,0,0,0,0,1,0,0,Two Or More,Bachelor's Degree
57468,7/12/2021 22:28:15,Microsoft,SDE II,Software Engineer,202000,"Redmond, WA",3.0,0.0,Full Stack,135000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
31924,10/5/2020 22:24:39,Intel,10,Software Engineer,299000,"Chandler, AZ",26.0,16.0,Full Stack,216000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
13065,11/14/2019 19:40:39,Amazon,L6,Software Engineering Manager,610000,"Seattle, WA",18.0,4.0,Distributed Systems (Back-End),160000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
35432,11/17/2020 14:38:49,Zoominfo,L3,Business Analyst,110000,"Portland, OR",7.0,1.0,Analytic,110000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
33809,10/26/2020 15:39:17,FactSet,senior,Software Engineer,106000,"New York, NY",7.0,7.0,API Development (Back-End),106000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
46680,3/31/2021 16:00:53,Cisco,Grade 6,Software Engineer,58000,"Galway, GY, Ireland",1.0,0.0,Full Stack,54000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
56510,7/2/2021 18:29:04,Priceline,L2,Software Engineer,83000,"Winnipeg, MB, Canada",5.0,1.0,API Development (Back-End),73000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
21978,6/3/2020 9:57:20,PwC,Experienced Associate,Management Consultant,93000,"Chicago, IL",3.0,1.0,iOS,87000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
43223,2/26/2021 6:23:00,VMWare,L3,Human Resources,122000,"Austin, TX",5.0,1.0,HR,110000.0,...,0,0,0,0,1,0,0,0,White,Master's Degree
2136,10/25/2018 17:58:31,NerdWallet,Product Manager,Product Manager,160000,"San Francisco, CA",3.0,3.0,Product,140000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [156]:
df.nunique()

timestamp                  62561
company                     1631
level                       2923
title                         15
totalyearlycompensation      893
location                    1050
yearsofexperience             65
yearsatcompany                81
tag                         3058
basesalary                   482
stockgrantvalue              612
bonus                        335
gender                         4
otherdetails               12841
cityid                      1045
dmaid                        149
rowNumber                  62642
Masters_Degree                 2
Bachelors_Degree               2
Doctorate_Degree               2
Highschool                     2
Some_College                   2
Race_Asian                     2
Race_White                     2
Race_Two_Or_More               2
Race_Black                     2
Race_Hispanic                  2
Race                           5
Education                      5
dtype: int64

In [157]:
titles_df = df[df["title"]=="Data Scientist"]
titles_df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
419,6/5/2018 14:06:30,LinkedIn,Senior,Data Scientist,233000,"San Francisco, CA",4.0,0.0,Data Analysis,162000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
440,6/8/2018 9:49:25,Microsoft,64,Data Scientist,218000,"Seattle, WA",11.0,11.0,ML / AI,165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
444,6/8/2018 17:55:09,ebay,26,Data Scientist,180000,"San Jose, CA",10.0,5.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
454,6/10/2018 19:39:35,Twitter,Staff,Data Scientist,500000,"San Francisco, CA",4.0,4.0,ML / AI,200000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
495,6/17/2018 11:39:38,Facebook,5,Data Scientist,370000,"Seattle, WA",8.0,3.0,NaN,190000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62240,3/26/2019 17:25:02,IBM,8,Data Scientist,155000,"Washington, DC",5.0,2.0,ML / AI,141000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62283,6/17/2018 21:07:18,Facebook,E3,Data Scientist,150000,"Singapore, SG, Singapore",0.0,0.0,ML / AI,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62285,7/16/2018 20:11:40,ADP,Sr UX Researcher 4,Data Scientist,185000,"Roseland, NJ",8.0,2.0,UX Research,150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62529,6/12/2018 20:54:06,Google,T6,Data Scientist,685000,"Kirkland, WA",22.0,2.0,ML / AI,221000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
62623,8/19/2018 20:31:37,Illumina,Bioinformatics Scientist II,Data Scientist,175000,"San Diego, CA",6.0,2.0,Bioinformatics,135000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [196]:
#Binning years of experience for better encoding
titles_df['yearsofexperience'].value_counts()

2.0     351
5.0     343
3.0     314
4.0     301
1.0     214
0.0     190
6.0     178
7.0     141
10.0    132
8.0     124
9.0      64
15.0     45
12.0     42
11.0     37
13.0     25
20.0     21
16.0     18
14.0     15
17.0      6
18.0      4
25.0      4
23.0      2
22.0      2
19.0      1
26.0      1
30.0      1
21.0      1
34.0      1
Name: yearsofexperience, dtype: int64

In [197]:
# # Replace in dataframe
# years_labels = []
# for years in titles_df['yearsofexperience']:
#     if years == 0.0:
#         years = "Entry Level"
#     elif years < 5.0:
#         years = "Early Career"
#     elif (years>=5.0 and years <10.0):
#         years = "Mid level"
#     else:
#         years = "Senior"
#     years_labels.append(years)
# years_labels

In [198]:
#reassign company column to bin name
year_level_df = titles_df.copy()
# year_level_df['yearsofexperience'] = years_labels
year_level_df.sample(20)

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
5197,3/24/2019 15:03:17,Google,L4,Data Scientist,200000,"Mountain View, CA",0.0,0.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
23053,6/25/2020 2:04:43,TD Bank,L10,Data Scientist,128000,"Toronto, ON, Canada",3.0,3.0,ML / AI,110000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
12751,11/5/2019 16:13:47,LinkedIn,Senior,Data Scientist,256000,"San Francisco, CA",4.0,1.0,Analytics,170000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
21640,5/27/2020 18:52:14,Rakuten,BBB,Data Scientist,65000,"Tokyo, TY, Japan",2.0,0.0,ML / AI,43000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
55654,6/25/2021 22:52:52,Netflix,Senior Data Scientist,Data Scientist,525000,"Los Gatos, CA",6.0,2.0,Product,525000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
17052,2/18/2020 9:01:24,Spotify,Data Scientist,Data Scientist,173000,"New York, NY",5.0,1.0,Data science,145000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3485,1/2/2019 8:57:58,Capital One,Director,Data Scientist,235000,"Toronto, ON, Canada",9.0,7.0,ML / AI,180000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
47681,4/9/2021 11:53:04,Ciklum,Senior,Data Scientist,72000,"Kiev, KC, Ukraine",7.0,7.0,Machine Learning,72000.0,...,1,0,0,0,1,0,0,0,White,PhD
12746,11/5/2019 14:34:07,Amazon,L5,Data Scientist,150000,"Seattle, WA",3.0,1.0,ML / AI,115000.0,...,0,0,0,0,0,0,0,0,NaN,Master's Degree
5785,4/14/2019 17:17:24,LinkedIn,Data Scientist,Data Scientist,242000,"Sunnyvale, CA",1.0,0.0,ML / AI,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
33600,10/23/2020 22:28:53,Qualtrics,L2,Data Scientist,70000,"Provo, UT",1.0,1.0,Full Stack,66000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
26132,8/10/2020 0:45:03,Microsoft,60,Data Scientist,162000,"Redmond, WA",3.0,0.0,Data,117000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
5050,3/19/2019 13:09:54,Capital One,Manager,Data Scientist,144000,"Richmond, VA",13.0,7.0,ML / AI,132000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
60343,8/5/2021 9:42:56,Capital One,Principal Associate,Data Scientist,188000,"New York, NY",5.0,3.0,General,165000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2603,11/6/2018 13:53:06,Facebook,E4,Data Scientist,230000,"Menlo Park, CA",0.0,0.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4218,2/9/2019 10:33:51,Pinterest,L4,Data Scientist,310000,"San Francisco, CA",2.0,1.0,ML / AI,160000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
22018,6/4/2020 5:19:12,Wayfair,L2,Data Scientist,78000,"Berlin, BE, Germany",2.0,2.0,ML / AI,60000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2027,10/18/2018 9:52:41,Google,L2,Data Scientist,120000,"Santa Monica, CA",1.0,0.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
44672,3/11/2021 14:40:27,Lyft,L4,Data Scientist,310000,"San Francisco, CA",5.0,1.0,Decisions,160000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
58994,7/26/2021 5:16:42,IBM,Band 6,Data Scientist,105000,"New York, NY",2.0,2.0,Blockchain,105000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree

In [199]:
year_level_df['yearsofexperience'].value_counts()

2.0     351
5.0     343
3.0     314
4.0     301
1.0     214
0.0     190
6.0     178
7.0     141
10.0    132
8.0     124
9.0      64
15.0     45
12.0     42
11.0     37
13.0     25
20.0     21
16.0     18
14.0     15
17.0      6
18.0      4
25.0      4
23.0      2
22.0      2
19.0      1
26.0      1
30.0      1
21.0      1
34.0      1
Name: yearsofexperience, dtype: int64

In [162]:
# salary_outliers = year_level_df[year_level_df['totalyearlycompensation']>=800000]
# salary_outliers

In [200]:
clean_df= year_level_df.drop(columns=['timestamp', 'level', 'yearsatcompany', 'otherdetails','Highschool', 'Some_College', 
                               'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',
                              'Race_Hispanic', 'Race', 'Education','cityid','dmaid','rowNumber','tag','bonus','stockgrantvalue','basesalary','title'])
clean_df.head()
#get_dummies/oneHotEncoder on company size and employment type

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0

In [201]:
# salary_outliers = clean_df[clean_df['totalyearlycompensation']>=800000]
# salary_outliers

In [202]:
import re
form_state_one = r'(\w+\s)*(\w+),\s([A-Z]{2})$'
matches_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False)
no_form_one = clean_df.location.str.contains(form_state_one, flags=re.IGNORECASE, na=False).sum()
print(no_form_one)

form_state_two = r'(\w+\s)*(\w+),\s([A-Z]{2}),\s(\w+)'
matches_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False)
no_form_two = clean_df.location.str.contains(form_state_two, flags=re.IGNORECASE, na=False).sum()
print(no_form_two)


clean_df.location[~matches_form_one & ~matches_form_two]

2226
351

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  if __name__ == '__main__':

9061    Tel Aviv, Israel
Name: location, dtype: object

In [203]:
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0

In [204]:
def US_location_to_state(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        state = re.sub('(\w+\s)*(\w+),\s','', city)
        
        # return state
        return state
    # otherwise, return NaN
    else:
        return np.nan
    

def location_to_city(city):
    # if input is of the form $###,###,###
    if re.match(form_state_one, city, flags=re.IGNORECASE):

        # remove city name and commas
        city = re.sub(',\s([A-Z]{2})$','', city)
        
        # return state
        return city
    # otherwise, return NaN
    else:
        return np.nan
clean_df = clean_df.loc[clean_df.location != "Tel Aviv, Israel"]
clean_df

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0
...,...,...,...,...,...,...,...,...
62240,IBM,155000,"Washington, DC",5.0,Male,0,0,0
62283,Facebook,150000,"Singapore, SG, Singapore",0.0,Female,0,0,0
62285,ADP,185000,"Roseland, NJ",8.0,Male,0,0,0
62529,Google,685000,"Kirkland, WA",22.0,Male,0,0,0
62623,Illumina,175000,"San Diego, CA",6.0,NaN,0,0,0

In [205]:
clean_df['state'] = clean_df.location.str.extract(f'({form_state_one}|{form_state_two})', flags=re.IGNORECASE)[0].apply(US_location_to_state)

In [206]:
clean_df = clean_df[clean_df['state'].notna()]
clean_df.head()

,company,totalyearlycompensation,location,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state
419,LinkedIn,233000,"San Francisco, CA",4.0,Male,0,0,0,CA
440,Microsoft,218000,"Seattle, WA",11.0,Male,0,0,0,WA
444,ebay,180000,"San Jose, CA",10.0,Female,0,0,0,CA
454,Twitter,500000,"San Francisco, CA",4.0,Male,0,0,0,CA
495,Facebook,370000,"Seattle, WA",8.0,Male,0,0,0,WA

In [207]:
clean_df['city'] = clean_df.location.str.extract(f'({form_state_one})', flags=re.IGNORECASE)[0].apply(location_to_city)
clean_df.drop('location', axis=1, inplace=True)
clean_df.head()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,company,totalyearlycompensation,yearsofexperience,gender,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
419,LinkedIn,233000,4.0,Male,0,0,0,CA,San Francisco
440,Microsoft,218000,11.0,Male,0,0,0,WA,Seattle
444,ebay,180000,10.0,Female,0,0,0,CA,San Jose
454,Twitter,500000,4.0,Male,0,0,0,CA,San Francisco
495,Facebook,370000,8.0,Male,0,0,0,WA,Seattle

In [208]:
clean_df.drop(columns=['gender'], inplace=True)
clean_df.nunique()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

company                    397
totalyearlycompensation    375
yearsofexperience           28
Masters_Degree               2
Bachelors_Degree             2
Doctorate_Degree             2
state                       39
city                       159
dtype: int64

In [209]:
print(clean_df["company"].value_counts().head(10))

Amazon          224
Microsoft       202
Facebook        175
Google           83
Apple            75
Uber             60
IBM              58
Capital One      44
LinkedIn         34
Walmart Labs     33
Name: company, dtype: int64

In [173]:
# #Binning he companies- .cut with 4 bins...do we want to specifically design these?
# bin_labels = ['Small', 'Medium', 'Large']
# bins3 = clean_df['company'].value_counts()
# company_bins = pd.cut(bins3, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
# company_bins

In [174]:
#Binning he companies- .cut with 4 bins...do we want to specifically design these?
bin_labels = ['Small', 'Medium', 'Large', 'Very Large']
bins4 = clean_df['company'].value_counts()
company_bins = pd.cut(bins4, bins=4, labels=bin_labels).to_list()#does this solve the issue of imbalanced data?
company_bins

['Very Large',
 'Very Large',
 'Very Large',
 'Medium',
 'Medium',
 'Medium',
 'Medium',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small',
 'Small']

In [175]:
#change company name to bin name
companies = []
for company in clean_df['company']:
    if company == "Amazon" or company == "Microsoft" or company == "Facebook":
        company = "Large"
    elif company == "Google" or company == "Apple" or company == "IBM" or company=="Uber":
        company = "Medium"
    else:
        company = "Small"
    companies.append(company)

In [176]:
#reassign company column to bin name
clean_bins_df = clean_df.copy()
clean_bins_df['company'] = companies
# clean_bins_df.drop(columns=['Doctorate_Degree'], inplace=True)
# clean_bins_df.drop(columns=['city'], inplace=True)
clean_bins_df.head(10)
# clean_bins_df['gender'].value_counts()

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
419,Small,233000,Early Career,0,0,0,CA,San Francisco
440,Large,218000,Senior,0,0,0,WA,Seattle
444,Small,180000,Senior,0,0,0,CA,San Jose
454,Small,500000,Early Career,0,0,0,CA,San Francisco
495,Large,370000,Mid level,0,0,0,WA,Seattle
499,Large,200000,Early Career,0,0,0,WA,Seattle
509,Large,340000,Senior,0,0,0,WA,Bellevue
510,Medium,690000,Senior,0,0,0,WA,Kirkland
513,Small,600000,Early Career,0,0,0,CA,Los Gatos
523,Small,168000,Mid level,0,0,0,CA,Palo Alto

In [177]:
# salary_outliers = clean_bins_df[clean_bins_df['totalyearlycompensation']>=800000]
# salary_outliers

,company,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,state,city
4204,Small,900000,Senior,0,0,0,CA,San Jose
34136,Small,800000,Senior,0,0,0,CA,San Francisco
52222,Small,1000000,Senior,0,0,0,CA,San Francisco

In [106]:
# #is there linearity between location numerical representation and salary?
# clean_bins2 = clean_bins_df.drop(['location'], axis = 1)
# locations = clean_bins_df['location']
# clean_bins2.head()

In [107]:
# #Create label Encoder and encode categorical
# from sklearn.preprocessing import LabelEncoder
# lb_make = LabelEncoder()
# clean_bins2['company']= lb_make.fit_transform(clean_bins2['company'])
# clean_bins2['gender']= lb_make.fit_transform(clean_bins2['gender'])

# clean_bins2.head()

In [108]:
# clean_bins2['gender'].value_counts() #what do we do with 4 genders?

In [109]:
# #OneHot to new categories
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder(sparse=False)
# company_encoded = lb_make.fit_transform(clean_bins2['company'])
# company_encoded = company_encoded.reshape(len(company_encoded), 1)
# onehot_company_encoded = enc.fit_transform(company_encoded)
# print(onehot_company_encoded)

In [178]:
#skip procedural encoding with get_dummies()?
# clean_dummies = clean_dummies.drop(['gender_2'], axis=1)
clean_dummies = pd.get_dummies(data=clean_bins_df, columns=['company', 'city', 'state', 'yearsofexperience'], drop_first=True)#drop the gender columns?

clean_dummies.head(15)

,totalyearlycompensation,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,city_Alexandria,city_Alpharetta,city_Ann Arbor,city_Annapolis Junction,...,state_SC,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,yearsofexperience_Entry Level,yearsofexperience_Mid level,yearsofexperience_Senior
419,233000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
444,180000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
454,500000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
499,200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
509,340000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
510,690000,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
513,600000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
523,168000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
535,187000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
570,225000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
668,220000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
673,130000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
740,112000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [179]:
salary_outliers = clean_dummies[clean_dummies['totalyearlycompensation']>=800000]
salary_outliers

,totalyearlycompensation,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Medium,company_Small,city_Alexandria,city_Alpharetta,city_Ann Arbor,city_Annapolis Junction,...,state_SC,state_TN,state_TX,state_UT,state_VA,state_WA,state_WI,yearsofexperience_Entry Level,yearsofexperience_Mid level,yearsofexperience_Senior
4204,900000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34136,800000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
52222,1000000,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [180]:
X = clean_dummies.drop(columns=["totalyearlycompensation"])
y = clean_dummies["totalyearlycompensation"]
X.shape
# Scale the dataset using MinMaxScaler()
X_scaled = MinMaxScaler().fit_transform(X)
X_scaled

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [181]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, 
                                                    y, 
                                                    random_state=42)

In [182]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.45739905338302533
Testing Score: -1.7997764380573476e+24

In [183]:
#LinReg basically could not do better than true random... testing random Forest Regressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)

In [184]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor
 
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [185]:
Y_pred = regressor.predict(X_test)  # test the output by changing values

In [186]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")
print(f"R2 Score: {sklearn.metrics.r2_score(y_test, Y_pred)}")

Training Score: 0.6296442453999975
Testing Score: 0.27923529428740435
R2 Score: 0.27923529428740435

In [118]:
# RFR model looks pretty good... 
#could we use cross validation and/or decision trees to determine which features are not contributing to the model
#then tune by removing these noise contributors

In [119]:
#neural network?- go back to clean_bins_df
# Generate our categorical variable lists
app_cats = clean_bins_df.dtypes[clean_bins_df.dtypes == "object"].index.tolist()
clean_bins_df[app_cats].nunique()

company                3
yearsofexperience      4
state                 39
city                 159
dtype: int64

In [120]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(clean_bins_df[app_cats]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_cats)
encode_df.head()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,company_Large,company_Medium,company_Small,yearsofexperience_Early Career,yearsofexperience_Entry Level,yearsofexperience_Mid level,yearsofexperience_Senior,state_AL,state_AR,state_AZ,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
# Merge one-hot encoded features and drop the originals
clean_bins_df = clean_bins_df.merge(encode_df, left_index=True, right_index = True)
clean_bins_df.drop(app_cats,1, inplace=True)
clean_bins_df.head()

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,totalyearlycompensation,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_Large,company_Medium,company_Small,yearsofexperience_Early Career,yearsofexperience_Entry Level,yearsofexperience_Mid level,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,0,0,0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440,218000,0,0,0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
444,180000,0,0,0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
454,500000,0,0,0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
495,370000,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
clean_bins_df.totalyearlycompensation.values

array([233000, 218000, 180000, 500000, 370000, 200000, 340000, 690000,
       600000, 168000, 187000, 225000, 220000, 130000, 112000, 200000,
       120000, 500000, 220000, 147000, 340000, 235000, 206000, 233000,
       149000, 356000, 305000, 200000, 215000, 700000, 243000, 260000,
       240000, 300000, 160000, 220000, 210000, 210000, 115000, 115000,
       188000, 215000, 315000, 240000, 230000, 216000, 125000, 322000,
       400000, 157000,  82000, 120000, 240000, 100000, 114000, 119000,
       250000, 182000, 120000, 318000, 135000, 228000, 137000, 156000,
       193000, 350000])

In [123]:
# Split our preprocessed data into our features and target arrays
y = clean_bins_df.totalyearlycompensation.values
X = clean_bins_df.drop(columns=['totalyearlycompensation'])
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [124]:
#  Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [125]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
# hidden_nodes_layer2 = 20
# hidden_nodes_layer3 = 14

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# # Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# #Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 10)                2090
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 11
=================================================================
Total params: 2,101
Trainable params: 2,101
Non-trainable params: 0
_________________________________________________________________

In [126]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [127]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
2/2 [==============================] - 1s 3ms/step - loss: 65288.0260 - accuracy: 0.0000e+00
Epoch 2/50
2/2 [==============================] - 0s 8ms/step - loss: -43195.5262 - accuracy: 0.0000e+00
Epoch 3/50
2/2 [==============================] - 0s 3ms/step - loss: -92464.5807 - accuracy: 0.0000e+00
Epoch 4/50
2/2 [==============================] - 0s 21ms/step - loss: -352235.0938 - accuracy: 0.0000e+00
Epoch 5/50
2/2 [==============================] - 0s 6ms/step - loss: -381732.5000 - accuracy: 0.0000e+00
Epoch 6/50
2/2 [==============================] - 0s 10ms/step - loss: -350075.5521 - accuracy: 0.0000e+00
Epoch 7/50
2/2 [==============================] - 0s 31ms/step - loss: -290861.0156 - accuracy: 0.0000e+00
Epoch 8/50
2/2 [==============================] - 0s 2ms/step - loss: -208706.2708 - accuracy: 0.0000e+00
Epoch 9/50
2/2 [==============================] - 0s 2ms/step - loss: -453923.7292 - accuracy: 0.0000e+00
Epoch 10/50
2/2 [==============================] - 0s 5ms/step - loss: -299218.3125 - accuracy: 0.0000e+00
Epoch 11/50
2/2 [==============================] - 0s 13ms/step - loss: -281746.8385 - accuracy: 0.0000e+00
Epoch 12/50
2/2 [==============================] - 0s 4ms/step - loss: -439594.3125 - accuracy: 0.0000e+00
Epoch 13/50
2/2 [==============================] - 0s 2ms/step - loss: -468880.5625 - accuracy: 0.0000e+00
Epoch 14/50
2/2 [==============================] - 0s 11ms/step - loss: -470488.6562 - accuracy: 0.0000e+00
Epoch 15/50
2/2 [==============================] - 0s 7ms/step - loss: -470835.7083 - accuracy: 0.0000e+00
Epoch 16/50
2/2 [==============================] - 0s 10ms/step - loss: -450525.4479 - accuracy: 0.0000e+00
Epoch 17/50
2/2 [==============================] - 0s 4ms/step - loss: -455137.0729 - accuracy: 0.0000e+00
Epoch 18/50
2/2 [==============================] - 0s 4ms/step - loss: -436216.2500 - accuracy: 0.0000e+00
Epoch 19/50
2/2 [==============================] - 0s 5ms/step - loss: -704051.0625 - accuracy: 0.0000e+00
Epoch 20/50
2/2 [==============================] - 0s 5ms/step - loss: -673923.2917 - accuracy: 0.0000e+00
Epoch 21/50
2/2 [==============================] - 0s 7ms/step - loss: -679203.9583 - accuracy: 0.0000e+00
Epoch 22/50
2/2 [==============================] - 0s 8ms/step - loss: -688536.0417 - accuracy: 0.0000e+00
Epoch 23/50
2/2 [==============================] - 0s 5ms/step - loss: -745795.5625 - accuracy: 0.0000e+00
Epoch 24/50
2/2 [==============================] - 0s 10ms/step - loss: -691419.4583 - accuracy: 0.0000e+00
Epoch 25/50
2/2 [==============================] - 0s 4ms/step - loss: -727740.7083 - accuracy: 0.0000e+00
Epoch 26/50
2/2 [==============================] - 0s 4ms/step - loss: -1073176.5000 - accuracy: 0.0000e+00
Epoch 27/50
2/2 [==============================] - 0s 15ms/step - loss: -1301811.8750 - accuracy: 0.0000e+00
Epoch 28/50
2/2 [==============================] - 0s 4ms/step - loss: -1454899.2500 - accuracy: 0.0000e+00
Epoch 29/50
2/2 [==============================] - 0s 5ms/step - loss: -1316213.3333 - accuracy: 0.0000e+00
Epoch 30/50
2/2 [==============================] - 0s 12ms/step - loss: -1760453.5417 - accuracy: 0.0000e+00
Epoch 31/50
2/2 [==============================] - 0s 11ms/step - loss: -1914393.1250 - accuracy: 0.0000e+00
Epoch 32/50
2/2 [==============================] - 0s 5ms/step - loss: -1910739.4167 - accuracy: 0.0000e+00
Epoch 33/50
2/2 [==============================] - 0s 9ms/step - loss: -1909618.4167 - accuracy: 0.0000e+00
Epoch 34/50
2/2 [==============================] - 0s 8ms/step - loss: -1877235.0000 - accuracy: 0.0000e+00
Epoch 35/50
2/2 [==============================] - 0s 3ms/step - loss: -2139615.2500 - accuracy: 0.0000e+00
Epoch 36/50
2/2 [==============================] - 0s 4ms/step - loss: -2387701.3333 - accuracy: 0.0000e+00
Epoch 37/50
2/2 [==============================] - 0s 3ms/step - loss: -2008843.0000 - accuracy: 0.0000e+00
Epoch 38/50
2/2 [==============================] - 0s 3ms/step - loss: -2201491.1667 - accuracy: 0.0000e+00
Epoch 39/50
2/2 [==============================] - 0s 3ms/step - loss: -2375599.2500 - accuracy: 0.0000e+00
Epoch 40/50
2/2 [==============================] - 0s 4ms/step - loss: -2555010.5000 - accuracy: 0.0000e+00
Epoch 41/50
2/2 [==============================] - 0s 7ms/step - loss: -2307357.0000 - accuracy: 0.0000e+00
Epoch 42/50
2/2 [==============================] - 0s 4ms/step - loss: -2179000.8333 - accuracy: 0.0000e+00
Epoch 43/50
2/2 [==============================] - 0s 5ms/step - loss: -2326356.7500 - accuracy: 0.0000e+00
Epoch 44/50
2/2 [==============================] - 0s 4ms/step - loss: -2563680.1667 - accuracy: 0.0000e+00
Epoch 45/50
2/2 [==============================] - 0s 5ms/step - loss: -2522177.0833 - accuracy: 0.0000e+00
Epoch 46/50
2/2 [==============================] - 0s 10ms/step - loss: -2400501.9167 - accuracy: 0.0000e+00
Epoch 47/50
2/2 [==============================] - 0s 14ms/step - loss: -2664636.6667 - accuracy: 0.0000e+00
Epoch 48/50
2/2 [==============================] - 0s 4ms/step - loss: -2356518.0000 - accuracy: 0.0000e+00
Epoch 49/50
2/2 [==============================] - 0s 11ms/step - loss: -2506317.9167 - accuracy: 0.0000e+00
Epoch 50/50
2/2 [==============================] - 0s 5ms/step - loss: -2515229.1667 - accuracy: 0.0000e+00

In [128]:
#RF?
#Create variables from df
# Split our preprocessed data into our features and target arrays
y = clean_bins_df.totalyearlycompensation.values
X = clean_bins_df.drop(columns=['totalyearlycompensation'])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [129]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
2/2 [==============================] - 0s 3ms/step - loss: 3745228.3333 - accuracy: 0.0000e+00
Epoch 2/50
2/2 [==============================] - 0s 8ms/step - loss: 3841067.6667 - accuracy: 0.0000e+00
Epoch 3/50
2/2 [==============================] - 0s 8ms/step - loss: 3824006.5833 - accuracy: 0.0000e+00
Epoch 4/50
2/2 [==============================] - 0s 5ms/step - loss: 3874770.3333 - accuracy: 0.0000e+00
Epoch 5/50
2/2 [==============================] - 0s 4ms/step - loss: 3792318.2500 - accuracy: 0.0000e+00
Epoch 6/50
2/2 [==============================] - 0s 3ms/step - loss: 3717166.8333 - accuracy: 0.0000e+00
Epoch 7/50
2/2 [==============================] - 0s 2ms/step - loss: 3700023.8333 - accuracy: 0.0000e+00
Epoch 8/50
2/2 [==============================] - 0s 31ms/step - loss: 3639312.9167 - accuracy: 0.0000e+00
Epoch 9/50
2/2 [==============================] - 0s 14ms/step - loss: 3714597.1667 - accuracy: 0.0000e+00
Epoch 10/50
2/2 [==============================] - 0s 5ms/step - loss: 3779403.5833 - accuracy: 0.0000e+00
Epoch 11/50
2/2 [==============================] - 0s 5ms/step - loss: 3774376.5000 - accuracy: 0.0000e+00
Epoch 12/50
2/2 [==============================] - 0s 3ms/step - loss: 3642936.5000 - accuracy: 0.0000e+00
Epoch 13/50
2/2 [==============================] - 0s 9ms/step - loss: 3604676.8333 - accuracy: 0.0000e+00
Epoch 14/50
2/2 [==============================] - 0s 3ms/step - loss: 3521852.0000 - accuracy: 0.0000e+00
Epoch 15/50
2/2 [==============================] - 0s 3ms/step - loss: 3615464.3333 - accuracy: 0.0000e+00
Epoch 16/50
2/2 [==============================] - 0s 6ms/step - loss: 3640633.8333 - accuracy: 0.0000e+00
Epoch 17/50
2/2 [==============================] - 0s 4ms/step - loss: 3663456.0000 - accuracy: 0.0000e+00
Epoch 18/50
2/2 [==============================] - 0s 7ms/step - loss: 3648938.5833 - accuracy: 0.0000e+00
Epoch 19/50
2/2 [==============================] - 0s 6ms/step - loss: 3570048.5000 - accuracy: 0.0000e+00
Epoch 20/50
2/2 [==============================] - 0s 8ms/step - loss: 3691195.8333 - accuracy: 0.0000e+00
Epoch 21/50
2/2 [==============================] - 0s 2ms/step - loss: 3670551.5000 - accuracy: 0.0000e+00
Epoch 22/50
2/2 [==============================] - 0s 4ms/step - loss: 3631135.0833 - accuracy: 0.0000e+00
Epoch 23/50
2/2 [==============================] - 0s 6ms/step - loss: 3394114.0833 - accuracy: 0.0000e+00
Epoch 24/50
2/2 [==============================] - 0s 10ms/step - loss: 3420012.6667 - accuracy: 0.0000e+00
Epoch 25/50
2/2 [==============================] - 0s 4ms/step - loss: 3131165.3333 - accuracy: 0.0000e+00
Epoch 26/50
2/2 [==============================] - 0s 10ms/step - loss: 3149670.3333 - accuracy: 0.0000e+00
Epoch 27/50
2/2 [==============================] - 0s 12ms/step - loss: 2859984.4167 - accuracy: 0.0000e+00
Epoch 28/50
2/2 [==============================] - 0s 8ms/step - loss: 2863544.0000 - accuracy: 0.0000e+00
Epoch 29/50
2/2 [==============================] - 0s 4ms/step - loss: 2911009.2500 - accuracy: 0.0000e+00
Epoch 30/50
2/2 [==============================] - 0s 14ms/step - loss: 2791403.8333 - accuracy: 0.0000e+00
Epoch 31/50
2/2 [==============================] - 0s 4ms/step - loss: 2669414.6667 - accuracy: 0.0000e+00
Epoch 32/50
2/2 [==============================] - 0s 3ms/step - loss: 2614593.3333 - accuracy: 0.0000e+00
Epoch 33/50
2/2 [==============================] - 0s 3ms/step - loss: 2645773.8333 - accuracy: 0.0000e+00
Epoch 34/50
2/2 [==============================] - 0s 8ms/step - loss: 2485832.3333 - accuracy: 0.0000e+00
Epoch 35/50
2/2 [==============================] - 0s 3ms/step - loss: 2520331.5000 - accuracy: 0.0000e+00
Epoch 36/50
2/2 [==============================] - 0s 2ms/step - loss: 2408344.6667 - accuracy: 0.0000e+00
Epoch 37/50
2/2 [==============================] - 0s 4ms/step - loss: 2321982.5000 - accuracy: 0.0000e+00
Epoch 38/50
2/2 [==============================] - 0s 4ms/step - loss: 2198032.5000 - accuracy: 0.0000e+00
Epoch 39/50
2/2 [==============================] - 0s 9ms/step - loss: 2157542.0000 - accuracy: 0.0000e+00
Epoch 40/50
2/2 [==============================] - 0s 7ms/step - loss: 2063845.4167 - accuracy: 0.0000e+00
Epoch 41/50
2/2 [==============================] - 0s 10ms/step - loss: 2132086.5833 - accuracy: 0.0000e+00
Epoch 42/50
2/2 [==============================] - 0s 21ms/step - loss: 2168445.0000 - accuracy: 0.0000e+00
Epoch 43/50
2/2 [==============================] - 0s 4ms/step - loss: 2112587.1667 - accuracy: 0.0000e+00
Epoch 44/50
2/2 [==============================] - 0s 5ms/step - loss: 1700447.4583 - accuracy: 0.0000e+00
Epoch 45/50
2/2 [==============================] - 0s 4ms/step - loss: 1676621.1250 - accuracy: 0.0000e+00
Epoch 46/50
2/2 [==============================] - 0s 6ms/step - loss: 1485388.5417 - accuracy: 0.0000e+00
Epoch 47/50
2/2 [==============================] - 0s 4ms/step - loss: 1234119.1667 - accuracy: 0.0000e+00
Epoch 48/50
2/2 [==============================] - 0s 5ms/step - loss: 954505.9167 - accuracy: 0.0000e+00
Epoch 49/50
2/2 [==============================] - 0s 7ms/step - loss: 799927.6667 - accuracy: 0.0000e+00
Epoch 50/50
2/2 [==============================] - 0s 5ms/step - loss: 874299.7500 - accuracy: 0.0000e+00
1/1 - 0s - loss: 492515.6250 - accuracy: 0.0000e+00
Loss: 492515.625, Accuracy: 0.0

In [130]:
# Stratified kfolds cross validation
from statistics import mean, stdev
from sklearn import preprocessing
from sklearn.model_selection import StratifiedKFold
from sklearn import linear_model
from sklearn import datasets

In [131]:
# Feature Scaling for input features.
scaler = preprocessing.MinMaxScaler()
x_scaled = scaler.fit_transform(X)

In [132]:
# Create  classifier object.
lr = linear_model.LogisticRegression()

In [133]:
#  Create StratifiedKFold object.
skf = StratifiedKFold(n_splits=2, shuffle=True, random_state=42)
lst_accu_stratified = []

In [134]:
for train_index, test_index in skf.split(X, y):
    x_train_fold, x_test_fold = x_scaled[train_index], x_scaled[test_index]
    y_train_fold, y_test_fold = y[train_index], y[test_index]
    lr.fit(x_train_fold, y_train_fold)
    lst_accu_stratified.append(lr.score(x_test_fold, y_test_fold))

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  UserWarning,

In [135]:
# Print the output.
print('List of possible accuracy:', lst_accu_stratified)
print('\nMaximum Accuracy That can be obtained from this model is:',
      max(lst_accu_stratified)*100, '%')
print('\nMinimum Accuracy:',
      min(lst_accu_stratified)*100, '%')
print('\nOverall Accuracy:',
      mean(lst_accu_stratified)*100, '%')
print('\nStandard Deviation is:', stdev(lst_accu_stratified))

List of possible accuracy: [0.0, 0.0]

Maximum Accuracy That can be obtained from this model is: 0.0 %

Minimum Accuracy: 0.0 %

Overall Accuracy: 0.0 %

Standard Deviation is: 0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = clean_bins_df.totalyearlycompensation.values
X = clean_bins_df.drop(columns=['totalyearlycompensation'])

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [72]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [73]:
# cross validation
from sklearn.model_selection import cross_validate
from sklearn import datasets, linear_model
linreg = LinearRegression()
scoring = "balanced_accuracy"
linscores = cross_validate(linreg, X_train, y_train, scoring=scoring, return_estimator=True)

/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1953: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1953: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1953: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:775: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/model_selection/_validation.py", line 762, in _score
    scores = scorer(estimator, X_test, y_test)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 221, in __call__
    sample_weight=sample_weight,
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_scorer.py", line 264, in _score
    return self._sign * self._score_func(y_true, y_pred, **self._kwargs)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 1949, in balanced_accuracy_score
    C = confusion_matrix(y_true, y_pred, sample_weight=sample_weight)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 302, in confusion_matrix
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)
  File "/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py", line 95, in _check_targets
    type_true, type_pred
ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

  UserWarning,
/Users/e140563/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1953: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")

In [74]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fitting our model with all our features in X
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.3934847902878551
Testing Score: -3.868237862268594e+26

In [75]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [76]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [78]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([325618.        , 254595.51190476, 203195.83333333, 239117.51388889,
       375757.20238095, 307982.58333333, 247275.47222222, 199290.83333333,
       192518.75      , 239117.51388889, 188848.33333333, 219096.25      ,
       228811.1031746 , 219096.25      ])

In [79]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.5048682801580273
Testing Score: -0.7927673138082811

In [190]:
clean_bins_new = clean_dummies.copy()
clean_bins_new = clean_bins_new[clean_bins_new['totalyearlycompensation']<800000]//got rid of the three outliers
# clean_bins_df['totalyearlycompensation'].nunique()
clean_bins_new['totalyearlycompensation'].nunique()

372

In [191]:
# Split our preprocessed data into our features and target arrays
y = clean_bins_new.totalyearlycompensation.values
X = clean_bins_new.drop(columns=['totalyearlycompensation'])

In [192]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [193]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [194]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([215153.89969604, 152407.67857143, 287437.59380099, 288043.94246032,
       399114.06042569, 287437.59380099, 182012.5       , 287437.59380099,
       236013.63888889, 108085.8756003 , 301020.72103175, 237640.97231119,
       141998.03186809, 158232.26154401, 263939.89484127, 161671.97619048,
       215484.35570388, 142068.33333333, 221295.48611111, 347579.85701798,
       164282.13956795, 564583.93127706, 173492.24513518, 223452.37900052,
       195951.01944036, 231314.25748789, 231314.25748789, 330323.45589133,
       139692.18163781, 231314.25748789, 126171.57142857, 416974.70630101,
       141998.03186809, 321389.66468254, 298630.0566628 , 214903.0487013 ,
       214903.0487013 , 138527.66666667, 228105.46517372, 229513.69322344,
       231314.25748789, 141998.03186809, 162310.13433788, 332474.34006924,
       270232.33333333, 153492.97879347, 307211.63780664, 242436.38816739,
       195761.6364799 , 213886.25      , 154527.79611325, 231314.25748789,
       229513.69322344, 152407.67857143, 153492.97879347, 244934.40561522,
       356018.17550505, 298630.0566628 , 195761.6364799 , 253285.09729204,
       193019.80952381, 125104.55799985, 254334.97619048, 309809.42237353,
       144072.93253968, 204740.70281108, 235879.42207792, 117564.87103175,
        99513.91666667, 186670.40961691, 215484.35570388, 195951.01944036,
       106101.21230159, 141998.03186809, 213935.77901591, 102462.08333333,
       196933.39285714, 123053.5       , 298630.0566628 , 141998.03186809,
       130858.83928571, 118789.24356199, 197089.36025494, 287437.59380099,
       114996.92063492, 169970.64285714, 223452.37900052, 153492.97879347,
       282074.28571429, 136240.81132756, 213935.77901591, 172741.77650671,
       148270.        , 110285.70182962, 171958.00152625, 118958.        ,
       257927.81150794, 135920.08333333, 213935.77901591, 121565.79761905,
       192379.04761905, 141998.03186809, 184890.40617599, 215153.89969604,
       241375.13652722, 200587.15277778,  86469.60119048, 197089.36025494,
       195761.6364799 , 112698.98015873, 204676.34492732, 187943.81547619,
       219636.83669802, 153492.97879347, 147590.66666667, 280100.10933511,
       218756.81698857, 286374.42063492, 159917.30681818, 277493.61901987,
       154673.22478992,  99845.19300144, 109489.27164502, 180410.46825397,
       180410.46825397, 236299.89285714, 216656.43199856, 174179.16666667,
       195951.01944036, 163582.5       , 219353.40720316,  83651.75      ,
       195761.6364799 , 325426.20564299, 209118.75      , 223499.14880952,
       209462.41637039, 245839.60990983, 263910.9900877 ,  93218.64285714,
       287437.59380099, 162310.13433788, 228105.46517372, 309809.42237353,
       273640.58843484, 176119.1002886 , 223452.37900052, 225291.05453778,
       174124.29671902, 242436.38816739, 153492.97879347, 123085.41172716,
       114471.92063492, 175064.07323417, 187413.1286075 , 182212.84614691,
       199645.26298701, 231185.82215007, 231314.25748789, 119790.58333333,
       127050.96428571, 112032.53598485, 159917.30681818, 109521.07444639,
       214539.25      , 280100.10933511, 104202.91666667, 109346.21230159,
       202186.97619048, 232513.1493357 , 287437.59380099, 153492.97879347,
       254293.29922855, 175236.05871212, 451738.14592352, 210448.64964202,
       101315.        , 129321.        ,  83310.91666667, 141071.92261905,
       261890.25595238, 187162.44768476, 178622.84614691, 100190.28277972,
        98440.71428571, 256803.94351658, 152407.67857143, 163903.11435786,
       197089.36025494, 153492.97879347, 169664.09704185, 117162.5       ,
       223406.06959707, 208479.86882065, 117564.87103175, 168285.37357847,
       399114.06042569, 328067.12647179, 155681.54761905, 571700.57142857,
       212367.48631801, 214539.25      , 253285.09729204, 268931.05952381,
       204740.70281108, 113694.75396825, 287437.59380099, 303795.16666667,
       136850.98809524, 213728.8894828 , 209150.24448455, 195951.01944036,
       123401.58333333, 325251.86918637, 231314.25748789, 176032.77318332,
       136662.83333333, 215484.35570388, 215484.35570388, 237640.97231119,
       225181.82656562, 163903.11435786, 263225.79430328, 208479.86882065,
       261890.25595238, 156399.04761905, 239631.24900794, 230093.17679144,
       222961.79563492, 118369.25      , 192976.54761905, 202843.64363354,
       226510.16503268, 225181.82656562, 334383.01584419,  86075.5       ,
       250596.02022977, 245614.55970418, 233261.79795205, 224749.44516595,
       153492.97879347, 269539.47222222, 237861.16928904, 399114.06042569,
       195951.01944036, 257927.81150794, 173000.36616162, 325251.86918637,
       242436.38816739, 131625.8331044 , 176032.77318332, 287437.59380099,
       298630.0566628 , 241375.13652722, 204740.70281108, 195951.01944036,
       178722.66666667, 213935.77901591, 213935.77901591,  79261.77380952,
       178375.1547619 , 119790.58333333, 141998.03186809, 173195.        ,
       178714.58333333, 181384.05525031, 237640.97231119,  75342.91666667,
       157969.26190476, 226284.12574925,  92785.5       , 425142.54334554,
       309809.42237353, 223406.06959707, 277493.61901987, 313100.54960317,
       153492.97879347, 162310.13433788, 163729.49809219, 168174.72619048,
        82889.49404762, 273640.58843484, 216464.49907448, 181158.75      ,
       143904.16666667, 177531.35714286, 200608.31041181, 153492.97879347,
       186670.40961691, 126113.29761905, 230093.17679144, 132788.88095238,
       225181.82656562, 176119.1002886 , 141998.03186809, 153492.97879347,
       278952.33441558, 237861.16928904, 177531.35714286, 181054.88095238,
       242436.38816739, 152407.67857143, 113899.76785714, 195761.6364799 ,
       204676.34492732, 241864.74412284, 298859.63147963, 204676.34492732,
       181054.88095238, 136662.83333333, 195761.6364799 , 196283.30654762,
       324210.98809524, 263910.9900877 , 267170.45075758, 348315.44444444,
       181378.28571429, 230093.17679144, 100367.01401303, 233282.81626707,
       275720.03167666, 117564.87103175, 209462.41637039, 102865.89794927,
       213886.25      , 215484.35570388, 263939.89484127, 231314.25748789,
       270381.65079365, 184315.80952381, 177531.35714286, 224113.13131313,
       230093.17679144, 147475.26190476, 215153.89969604, 258202.68098568,
       252492.05076021, 117378.21230159, 203309.5515873 , 171064.58333333,
        82889.49404762, 279669.93217893, 193019.80952381, 215484.35570388,
       298630.0566628 , 597302.64285714, 215153.89969604, 173257.93777056,
       127955.53571429, 287437.59380099,  84431.        , 120996.31277056,
       181384.05525031, 149370.93055556, 164258.44895382, 109513.20021645,
       215484.35570388, 325251.86918637, 276106.58694084, 118958.        ,
       138245.73809524, 107494.00901876, 280100.10933511, 253572.34238818,
       195951.01944036, 119063.60714286, 244934.40561522, 131625.8331044 ,
       162310.13433788, 195761.6364799 , 130049.96428571, 215153.89969604,
       262531.40861222, 141998.03186809, 230093.17679144, 186019.86851343,
       295342.06221556, 141998.03186809, 204740.70281108, 219934.81006494,
       252492.05076021, 121565.79761905, 176119.1002886 , 444086.90336134,
       109025.38690476, 215153.89969604,  85025.08333333, 204676.34492732,
       130049.96428571, 153492.97879347, 136240.81132756, 133703.90277778,
       138527.66666667, 362085.7718254 , 136240.81132756, 111905.71230159,
       230065.8234127 , 169664.09704185, 114696.75      , 213935.77901591,
       171887.77290765, 328067.12647179, 234779.02777778, 137790.04761905,
       202843.64363354, 190711.31060606, 212367.48631801, 325251.86918637,
       192962.56295706, 192962.56295706, 215153.89969604, 263032.58928571,
       309809.42237353, 280100.10933511, 144185.41666667, 186746.1547619 ,
       269539.47222222, 328067.12647179, 120078.71428571, 272591.14285714,
       519224.35894661, 230093.17679144, 257927.81150794, 184151.75      ,
        96730.44047619, 171261.86111111, 213323.61294261, 136662.83333333,
       240254.6760323 , 230093.17679144, 153492.97879347, 182430.70902015,
       153492.97879347, 230093.17679144, 204676.34492732, 254824.96413309,
       230093.17679144, 284840.73611111, 141980.        , 328067.12647179,
       127955.53571429, 171615.        , 137790.04761905, 546036.72765042,
       224113.13131313])

In [195]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6204916784634507
Testing Score: 0.39676920783566616

In [212]:
# dropping those improved score by 11%
#RFR without binning, drop gender
clean_df2 = clean_df.copy()
clean_dummies2 = pd.get_dummies(clean_df)
clean_dummies2

,totalyearlycompensation,yearsofexperience,Masters_Degree,Bachelors_Degree,Doctorate_Degree,company_3M,company_3m,company_7-Eleven,company_ABB,company_ADP,...,city_Walnut Creek,city_Waltham,city_Warren,city_Washington,city_Watertown,city_Wellesley,city_West McLean,city_Wilmington,city_Woonsocket,city_Worcester
419,233000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,218000,11.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
444,180000,10.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,500000,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
495,370000,8.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62233,190000,3.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62240,155000,5.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
62285,185000,8.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
62529,685000,22.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62623,175000,6.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [213]:
# Split our preprocessed data into our features and target arrays
y = clean_dummies2.totalyearlycompensation.values
X = clean_dummies2.drop(columns=['totalyearlycompensation'])

In [214]:
#trying random forest with c-v
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=False)

In [215]:
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 200, random_state = 42)
 
# fit the regressor with x and y data
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200, random_state=42)

In [216]:
Y_pred = regressor.predict(X_test)  # test the output by changing values
Y_pred

array([152803.33333333, 149795.        , 264833.125     , 278965.33333333,
       303618.69047619, 275675.83333333, 154506.66666667, 208640.93452381,
       249668.0297619 , 127980.        , 224337.5       , 184296.58333333,
       144978.75      , 156007.41666667, 225175.        , 125860.        ,
       213573.5       , 132402.        , 225507.5       , 335488.33333333,
       183607.91666667, 300125.66666667, 186916.66666667, 256263.02930403,
       155164.99206349, 180804.58333333, 206812.58333333, 358861.52380952,
       132399.98809524, 208568.83333333, 138034.58333333, 460836.08333333,
       141582.08333333, 253312.08333333, 220021.79166667, 169479.66666667,
       183255.91666667, 135195.17857143, 214880.41666667, 208372.52777778,
       207405.08333333, 126065.        , 165929.91666667, 307352.4047619 ,
       234205.        , 150115.        , 228569.21428571, 199069.28571429,
       280217.77777778, 216551.33333333, 163790.        , 324490.08333333,
       206110.375     , 183183.49603175, 136812.5       , 130841.01190476,
       236017.85714286, 251677.08333333, 219456.79166667, 153880.        ,
       253701.25      , 190487.5       , 120175.        , 226605.        ,
       294792.5       , 121190.        , 187132.75036075, 279410.        ,
       125627.5       ,  95750.        , 164308.13888889, 249673.54166667,
       155164.99206349, 117022.        , 126470.83333333, 244322.19215498,
        88885.        , 202225.86742424, 127048.        , 300007.16666667,
       136513.53571429, 141053.        , 124309.33333333, 311939.16666667,
       443562.41666667, 123492.5       , 208875.        , 256263.02930403,
       131184.16666667, 301360.        , 136475.83333333, 205613.31009719,
       148285.        , 151881.66666667, 106420.        , 150916.94047619,
       131955.5       , 238058.25      , 129620.71428571, 205613.31009719,
       149422.5       , 183865.        , 151144.58333333, 171912.38095238,
       157423.33333333, 188000.        , 203382.5       , 110082.5       ,
       182968.57142857, 223666.75      , 129525.        , 245460.11904762,
       196040.71428571, 197603.33333333, 130841.01190476, 171707.58333333,
       287926.83333333, 240275.        , 257687.66666667, 126795.        ,
       300853.        , 156059.58333333, 124170.13095238, 114805.        ,
       270536.        , 270536.        , 216791.15295815, 313230.        ,
       202586.45238095, 196793.33333333, 178285.        , 185343.21428571,
        84733.33333333, 153880.        , 259014.        , 168244.16666667,
       275250.        , 167140.        , 250937.1048396 , 256274.58333333,
       115300.        , 264833.125     , 140721.01190476, 305341.16666667,
       269703.08658009, 219859.58333333, 165592.5       , 256263.02930403,
       203737.5       , 166239.83333333, 199069.28571429, 139398.33333333,
       214978.16666667,  97990.        , 162394.16666667, 239975.98809524,
       156011.5       , 152930.        , 209470.22619048, 206110.375     ,
       165247.91666667, 197053.33333333, 111687.5       , 126795.        ,
       104980.        , 176400.        , 338448.875     , 116856.25      ,
       134201.25      , 178140.        , 221483.16666667, 300062.17857143,
       131278.16468254, 238659.95238095, 177717.5       , 493380.33333333,
       169573.33333333, 101821.66666667, 155446.33333333,  86483.33333333,
       125597.91666667, 222200.97619048, 170672.02380952, 193223.33333333,
        97885.        ,  78260.        , 259711.58333333, 124575.        ,
       157393.5       , 311939.16666667, 142006.5       , 178371.66666667,
       125291.66666667, 230081.95833333, 264895.66666667, 123630.        ,
       177921.66666667, 324275.41666667, 268606.91666667, 172099.44444444,
       471236.25      , 188625.94047619, 226395.        , 196961.54166667,
       231842.5       , 246103.61111111, 108912.5       , 418733.83333333,
       292587.5       , 153205.        , 213043.34946997, 186101.66666667,
       196793.33333333, 112756.66666667, 282796.25      , 328375.83333333,
       175118.08333333, 134947.91666667, 169751.66666667, 186045.        ,
       179143.33333333, 178381.52380952, 174634.85714286, 330825.83333333,
       264895.66666667, 300615.33333333, 171725.        , 182942.5       ,
       229071.93722944, 247149.16666667, 147239.58333333, 230650.        ,
       187448.75      , 148402.91666667, 203890.18344156, 250895.        ,
        80820.        , 235364.75      , 227752.36904762, 227698.83333333,
       198645.83333333, 131278.16468254, 329895.        , 125972.5       ,
       363851.66666667, 186448.65079365, 215292.25      , 127955.6547619 ,
       320890.5       , 160352.04761905, 120410.        , 177294.70580808,
       264833.125     , 337041.66666667, 188000.        , 187132.75036075,
       250279.40155678, 155702.41666667, 212946.90151515, 222443.0297619 ,
       119735.        , 160095.58333333, 122916.96428571, 126470.83333333,
       149395.        , 252355.64285714, 182042.57738095, 179143.33333333,
        70155.        , 143965.        , 278930.        ,  94618.33333333,
       437105.        , 258464.59271284, 281114.58333333, 324789.25      ,
       233385.25      , 131631.01190476, 139544.1468254 , 121736.48809524,
       165700.        ,  89468.33333333, 260526.88095238, 189383.33243146,
       230575.        , 135905.        , 156705.        , 200075.40728716,
       175296.66666667, 208894.875     , 193457.5       , 278158.25775613,
       128692.5       , 169640.35714286, 152451.66666667, 151810.        ,
       130841.01190476, 223750.        , 151092.5       , 178495.        ,
       179124.16666667, 170099.70879121, 221000.        , 137057.5       ,
       166415.        , 203537.18452381, 258349.01551227, 340767.        ,
       224508.84018759, 179124.16666667, 139010.        , 318215.        ,
       198497.33333333, 299220.96230159, 320216.91666667, 256403.52380952,
       295690.        , 180285.        , 278158.25775613, 120395.        ,
       239822.25      , 254708.5297619 , 115667.5       , 167140.        ,
       123396.25      , 172923.        , 216760.04166667, 242115.91666667,
       218391.64285714, 299309.5       , 176670.        , 156705.        ,
       219738.75      , 220163.4484127 , 134543.33333333, 187115.        ,
       273564.83333333, 236938.5       , 116150.        , 176402.21428571,
       145486.25      ,  89468.33333333, 313112.33333333, 158597.08333333,
       211739.16666667, 262614.66666667, 629565.        , 152803.33333333,
       129822.5       , 106215.        , 298935.51190476,  85265.        ,
       119260.        , 197237.24404762, 170181.75      , 152669.01064214,
       125080.        , 216760.04166667, 484296.25      , 396022.08333333,
       150388.        , 148395.        , 115845.        , 287926.83333333,
       174700.5       , 167734.        , 124190.        , 232910.6038961 ,
       119547.5       , 146305.23809524, 161865.        , 129986.25      ,
       223176.5       , 221387.58333333, 141582.08333333, 220163.4484127 ,
       191597.5       , 213030.29761905, 151394.58333333, 249876.25793651,
       222232.91945554, 236938.5       , 180188.33333333, 137328.41666667,
       485413.33333333, 122490.        , 152803.33333333,  86613.33333333,
       158867.85819532, 139930.        , 172942.41666667, 113160.        ,
       116410.        , 136464.16666667, 257697.41666667, 136475.83333333,
       129902.5       , 161197.77777778, 222535.83333333, 170903.33333333,
       222443.0297619 , 195779.52380952, 299120.13672439, 208116.03571429,
       151522.5       , 225168.99422799, 234770.        , 165102.75      ,
       319115.08333333, 181526.25      , 151652.5       , 152933.33333333,
       286573.33333333, 269703.08658009, 320987.5       , 158132.5       ,
       273128.33333333, 333105.        , 280309.        , 221335.83333333,
       302365.125     , 545472.5       , 200912.29166667, 253984.58333333,
       153670.41666667,  90395.        , 136145.        , 168723.88888889,
       179243.33333333, 207179.54166667, 196058.9716811 , 141483.0952381 ,
       144670.72619048, 145725.83333333, 220163.4484127 , 180835.21626984,
       264157.5       , 229071.93722944, 266668.75      , 134550.        ,
       257973.19246032, 119259.16666667, 142362.91666667, 176705.83333333,
       566030.        , 221479.16666667])

In [217]:
training_score = regressor.score(X_train, y_train)
testing_score = regressor.score(X_test, y_test)


print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.8771159003270766
Testing Score: 0.4409559362315587

In [139]:
# XGBoost?