In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Get:8 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:11 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,660 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,484 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,098 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,262 kB]
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [945 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [937 kB]
Get:23 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 11.7 MB in 4s (3,348 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-03-26 16:23:41--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2022-03-26 16:23:41 (6.49 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://data-finalproject.s3.amazonaws.com/ID_rawdata.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get(""), sep=",", header=True, inferSchema=True)

In [5]:
df.show(5)

+--------+---------------+---------+-----+--------------------+-----------------------+-----------------+-----------------+--------------+---+----------+---------------+-------+------+------------+------+-----+---------+--------------+----------------+----------------+----------+------------+----------+----------+----------------+----------+-------------+----+---------+
|      ID|      timestamp|  company|level|               title|totalyearlycompensation|         location|yearsofexperience|yearsatcompany|tag|basesalary|stockgrantvalue|  bonus|gender|otherdetails|cityid|dmaid|rowNumber|Masters_Degree|Bachelors_Degree|Doctorate_Degree|Highschool|Some_College|Race_Asian|Race_White|Race_Two_Or_More|Race_Black|Race_Hispanic|Race|Education|
+--------+---------------+---------+-----+--------------------+-----------------------+-----------------+-----------------+--------------+---+----------+---------------+-------+------+------------+------+-----+---------+--------------+----------------+----------------+----------+------------+----------+----------+----------------+----------+-------------+----+---------+
|FLP00001| 6/7/2017 11:33|   Oracle|   L3|     Product Manager|                 127000| Redwood City, CA|              1.5|           1.5| NA|    107000|        20000.0|10000.0|    NA|          NA|  7392|  807|        1|             0|               0|               0|         0|           0|         0|         0|               0|         0|            0|  NA|       NA|
|FLP00002|6/10/2017 17:11|     eBay| SE 2|   Software Engineer|                 100000|San Francisco, CA|              5.0|           3.0| NA|         0|            0.0|    0.0|    NA|          NA|  7419|  807|        2|             0|               0|               0|         0|           0|         0|         0|               0|         0|            0|  NA|       NA|
|FLP00003|6/11/2017 14:53|   Amazon|   L7|     Product Manager|                 310000|      Seattle, WA|              8.0|           0.0| NA|    155000|            0.0|    0.0|    NA|          NA| 11527|  819|        3|             0|               0|               0|         0|           0|         0|         0|               0|         0|            0|  NA|       NA|
|FLP00004| 6/17/2017 0:23|    Apple|   M1|Software Engineer...|                 372000|    Sunnyvale, CA|              7.0|           5.0| NA|    157000|       180000.0|35000.0|    NA|          NA|  7472|  807|        7|             0|               0|               0|         0|           0|         0|         0|               0|         0|            0|  NA|       NA|
|FLP00005|6/20/2017 10:58|Microsoft|   60|   Software Engineer|                 157000|Mountain View, CA|              5.0|           3.0| NA|         0|            0.0|    0.0|    NA|          NA|  7322|  807|        9|             0|               0|               0|         0|           0|         0|         0|               0|         0|            0|  NA|       NA|
+--------+---------------+---------+-----+--------------------+-----------------------+-----------------+-----------------+--------------+---+----------+---------------+-------+------+------------+------+-----+---------+--------------+----------------+----------------+----------+------------+----------+----------+----------------+----------+-------------+----+---------+
only showing top 5 rows

In [6]:
df.columns

['ID',
 'timestamp',
 'company',
 'level',
 'title',
 'totalyearlycompensation',
 'location',
 'yearsofexperience',
 'yearsatcompany',
 'tag',
 'basesalary',
 'stockgrantvalue',
 'bonus',
 'gender',
 'otherdetails',
 'cityid',
 'dmaid',
 'rowNumber',
 'Masters_Degree',
 'Bachelors_Degree',
 'Doctorate_Degree',
 'Highschool',
 'Some_College',
 'Race_Asian',
 'Race_White',
 'Race_Two_Or_More',
 'Race_Black',
 'Race_Hispanic',
 'Race',
 'Education']

In [7]:
salary_info_df = df.select(['ID','title', 'totalyearlycompensation','yearsofexperience','yearsatcompany','basesalary','stockgrantvalue','bonus']).drop_duplicates()
salary_info_df.show(5)

+--------+-----------------+-----------------------+-----------------+--------------+----------+---------------+---------+
|      ID|            title|totalyearlycompensation|yearsofexperience|yearsatcompany|basesalary|stockgrantvalue|    bonus|
+--------+-----------------+-----------------------+-----------------+--------------+----------+---------------+---------+
|FLP00639|Software Engineer|                 125000|              6.0|           3.0|    125000|            0.0|1000000.0|
|FLP01034|Software Engineer|                 130000|              2.0|           4.0|    130000|            0.0|      0.0|
|FLP01242|  Product Manager|                 150000|              4.0|           4.0|    125000|        10000.0|  15000.0|
|FLP01700|Software Engineer|                 180000|              4.0|           4.0|         0|            0.0|      0.0|
|FLP01737|Software Engineer|                 215000|              6.0|           5.0|         0|            0.0|      0.0|
+--------+-----------------+-----------------------+-----------------+--------------+----------+---------------+---------+
only showing top 5 rows

In [8]:
Company_info_df = df.select(['ID','company', 'location','cityid']).drop_duplicates()
Company_info_df.show(5)

+--------+----------+-----------------+------+
|      ID|   company|         location|cityid|
+--------+----------+-----------------+------+
|FLP00256|    Google|Mountain View, CA|  7322|
|FLP00496|  Facebook|      Seattle, WA| 11527|
|FLP00590|Salesforce|San Francisco, CA|  7419|
|FLP01020|     Intel|  Santa Clara, CA|  7434|
|FLP01608|      eBay|     San Jose, CA|  7422|
+--------+----------+-----------------+------+
only showing top 5 rows

In [11]:
Employee_info_df = df.select(['ID', 'yearsofexperience','yearsatcompany','gender','Masters_Degree','Bachelors_Degree','Doctorate_Degree','Highschool']).drop_duplicates()
Employee_info_df.show(5)

+--------+-----------------+--------------+------+--------------+----------------+----------------+----------+
|      ID|yearsofexperience|yearsatcompany|gender|Masters_Degree|Bachelors_Degree|Doctorate_Degree|Highschool|
+--------+-----------------+--------------+------+--------------+----------------+----------------+----------+
|FLP00548|             15.0|           1.0|  Male|             0|               0|               0|         0|
|FLP00600|              4.0|           0.1|  Male|             0|               0|               0|         0|
|FLP00964|              3.0|           1.0|    NA|             0|               0|               0|         0|
|FLP01003|             11.0|           6.0|    NA|             0|               0|               0|         0|
|FLP01066|              2.0|           2.0|    NA|             0|               0|               0|         0|
+--------+-----------------+--------------+------+--------------+----------------+----------------+----------+
only showing top 5 rows

In [ ]:
# salary_by_location_df = df.select(['title', 'state', 'city', 'totalyearlycompensation']).drop_duplicates()
# salary_by_location_df.show(5)

+--------------+-----+-------------+-----------------------+
|         title|state|         city|totalyearlycompensation|
+--------------+-----+-------------+-----------------------+
|Data Scientist|   CA|    San Ramon|                 142000|
|Data Scientist|   CA|    Sunnyvale|                 130000|
|Data Scientist|   WA|      Redmond|                 320000|
|Data Scientist|   NY|     New York|                 284000|
|Data Scientist|   CA|San Francisco|                 285000|
+--------------+-----+-------------+-----------------------+
only showing top 5 rows

In [ ]:
# salary_by_education_df = df.select(['title', 'Masters_Degree', 'Bachelors_Degree', 'totalyearlycompensation']).drop_duplicates()
# salary_by_education_df.show(5)

+--------------+--------------+----------------+-----------------------+
|         title|Masters_Degree|Bachelors_Degree|totalyearlycompensation|
+--------------+--------------+----------------+-----------------------+
|Data Scientist|             0|               0|                 235000|
|Data Scientist|             0|               0|                 325000|
|Data Scientist|             0|               0|                 141000|
|Data Scientist|             1|               0|                 108000|
|Data Scientist|             1|               0|                 390000|
+--------------+--------------+----------------+-----------------------+
only showing top 5 rows

In [10]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://final-project.cgernf5ijfvg.us-east-1.rds.amazonaws.com/postgres"
config = {"user":"postgres", 
          "password": "finalproject1", 
          "driver":"org.postgresql.Driver"}

In [29]:
# salary_by_title_df.write.jdbc(url=jdbc_url, table="salary_by_title", mode=mode, properties=config)

In [ ]:
# salary_by_title_and_gender_df.write.jdbc(url=jdbc_url, table="salary_by_title_and_gender", mode=mode, properties=config)

In [ ]:
# salary_by_experience_df.write.jdbc(url=jdbc_url, table="salary_by_experience", mode=mode, properties=config)

In [ ]:
# salary_by_location_df.write.jdbc(url=jdbc_url, table="salary_by_location", mode=mode, properties=config)

In [ ]:
# salary_by_education_df.write.jdbc(url=jdbc_url, table="salary_by_education", mode=mode, properties=config)

In [16]:
salary_info_df.write.jdbc(url=jdbc_url, table="Salary_info", mode=mode, properties=config)
salary_info_df.show()

+--------+-----------------+-----------------------+-----------------+--------------+----------+---------------+---------+
|      ID|            title|totalyearlycompensation|yearsofexperience|yearsatcompany|basesalary|stockgrantvalue|    bonus|
+--------+-----------------+-----------------------+-----------------+--------------+----------+---------------+---------+
|FLP00639|Software Engineer|                 125000|              6.0|           3.0|    125000|            0.0|1000000.0|
|FLP01034|Software Engineer|                 130000|              2.0|           4.0|    130000|            0.0|      0.0|
|FLP01242|  Product Manager|                 150000|              4.0|           4.0|    125000|        10000.0|  15000.0|
|FLP01700|Software Engineer|                 180000|              4.0|           4.0|         0|            0.0|      0.0|
|FLP01737|Software Engineer|                 215000|              6.0|           5.0|         0|            0.0|      0.0|
|FLP01769|Software Engineer|                 146000|              5.0|           4.0|    116000|        20000.0|  10000.0|
|FLP01928|Software Engineer|                 112000|              2.0|           2.0|         0|            0.0|      0.0|
|FLP01964|Software Engineer|                 175000|              6.0|           6.0|    150000|        10000.0|  15000.0|
|FLP02011|Software Engineer|                 160000|              0.0|           0.0|    110000|        40000.0|  11000.0|
|FLP02119|  Product Manager|                 490000|             10.0|           1.0|    200000|       250000.0|  40000.0|
|FLP02242|Software Engineer|                 664000|             24.0|           1.0|    220000|       400000.0|  44000.0|
|FLP02353|Software Engineer|                 500000|              5.0|           5.0|    220000|       214000.0|  66000.0|
|FLP02377|Software Engineer|                 208000|              2.0|           2.0|    123000|        67000.0|  18000.0|
|FLP02876|Software Engineer|                 150000|              5.0|           1.0|    125000|        15000.0|  15000.0|
|FLP03152|Software Engineer|                 102000|              0.0|           0.0|     95000|            0.0|   7000.0|
|FLP03252|Software Engineer|                 307000|              7.0|           1.5|    170000|       120000.0|  17000.0|
|FLP03366|Software Engineer|                 182000|              8.0|           4.0|    150000|        20000.0|  12000.0|
|FLP03488|Software Engineer|                  47000|              3.0|           3.0|     24000|         7000.0|      0.0|
|FLP03648|Software Engineer|                 192000|             13.0|           0.0|    160000|        31000.0|      0.0|
|FLP03884|Software Engineer|                 300000|              5.0|           3.0|    235000|        50000.0|  15000.0|
+--------+-----------------+-----------------------+-----------------+--------------+----------+---------------+---------+
only showing top 20 rows

In [14]:
Company_info_df.write.jdbc(url=jdbc_url, table="Company_info", mode=mode, properties=config)
Company_info_df

DataFrame[ID: string, company: string, location: string, cityid: string]

In [15]:
Employee_info_df.write.jdbc(url=jdbc_url, table="Employee_info", mode=mode, properties=config)
Employee_info_df

DataFrame[ID: string, yearsofexperience: double, yearsatcompany: double, gender: string, Masters_Degree: string, Bachelors_Degree: string, Doctorate_Degree: string, Highschool: string]

In [22]:
salary_info_df = salary_info_df.alias('salary_info_df')
Employee_info_df = Employee_info_df.alias('Employee_info_df')
Company_info_df = Company_info_df.alias('Company_info_df')

In [33]:
from pyspark.sql.functions import col

Joined_df = salary_info_df.join(Employee_info_df, col('salary_info_df.ID') == col('Employee_info_df.ID'), 'inner') \
.join(Company_info_df, col('salary_info_df.ID') == col('Company_info_df.ID'), 'inner')

In [37]:
clean_df=Joined_df.drop("ID")

In [38]:
clean_df.show()

+--------------------+-----------------------+-----------------+--------------+----------+---------------+-------+-----------------+--------------+------+--------------+----------------+----------------+----------+----------+-----------------+------+
|               title|totalyearlycompensation|yearsofexperience|yearsatcompany|basesalary|stockgrantvalue|  bonus|yearsofexperience|yearsatcompany|gender|Masters_Degree|Bachelors_Degree|Doctorate_Degree|Highschool|   company|         location|cityid|
+--------------------+-----------------------+-----------------+--------------+----------+---------------+-------+-----------------+--------------+------+--------------+----------------+----------------+----------+----------+-----------------+------+
|   Software Engineer|                 215000|             15.0|           1.0|    165000|       200000.0|50000.0|             15.0|           1.0|  Male|             0|               0|               0|         0| Microsoft|      Seattle, WA| 11527|
|   Software Engineer|                 210000|              4.0|           0.1|    150000|        50000.0|15000.0|              4.0|           0.1|  Male|             0|               0|               0|         0|      Uber|       Denver, CO|  7548|
|   Software Engineer|                 150000|              3.0|           1.0|    100000|        40000.0|10000.0|              3.0|           1.0|    NA|             0|               0|               0|         0|    Intuit|San Francisco, CA|  7419|
|   Software Engineer|                 380000|             11.0|           6.0|    205000|       100000.0|75000.0|             11.0|           6.0|    NA|             0|               0|               0|         0| Microsoft|    Sunnyvale, CA|  7472|
|   Software Engineer|                 280000|              2.0|           2.0|    160000|       100000.0|20000.0|              2.0|           2.0|    NA|             0|               0|               0|         0|      Uber|San Francisco, CA|  7419|
|     Product Manager|                 300000|             20.0|           4.0|         0|            0.0|    0.0|             20.0|           4.0|    NA|             0|               0|               0|         0|    Amazon|      Seattle, WA| 11527|
|   Software Engineer|                 162000|              1.0|           1.0|         0|            0.0|    0.0|              1.0|           1.0|    NA|             0|               0|               0|         0| Microsoft|      Redmond, WA| 11521|
|   Software Engineer|                 200000|             10.0|           2.0|         0|            0.0|    0.0|             10.0|           2.0|    NA|             0|               0|               0|         0|Salesforce|      Seattle, WA| 11527|
|   Software Engineer|                 245000|             10.0|           5.0|    215000|            0.0|30000.0|             10.0|           5.0|    NA|             0|               0|               0|         0|     ARUBA|  Santa Clara, CA|  7434|
|   Software Engineer|                 500000|             15.0|           3.0|    230000|       270000.0|    0.0|             15.0|           3.0|    NA|             0|               0|               0|         0|    Oracle|      Seattle, WA| 11527|
|   Software Engineer|                  99000|             20.0|          18.0|     99000|            0.0|    0.0|             20.0|          18.0|    NA|             0|               0|               0|         0|    Oracle| Redwood City, CA|  7392|
|Software Engineer...|                 445000|             20.0|           0.0|    215000|       170000.0|60000.0|             20.0|           0.0|  Male|             0|               0|               0|         0|    Google|Mountain View, CA|  7322|
|   Software Engineer|                 440000|             20.0|           1.0|    240000|       200000.0|    0.0|             20.0|           1.0|  Male|             0|               0|               0|         0|    Oracle|      Oakland, CA|  7335|
|   Software Engineer|                 320000|              2.0|           2.0|    170000|       125000.0|25000.0|              2.0|           2.0|  Male|             0|               0|               0|         0|     Adobe|     San Jose, CA|  7422|
|   Software Engineer|                 233000|              2.0|           2.0|    130000|        80000.0|23000.0|              2.0|           2.0|  Male|             0|               0|               0|         0|    Google|Mountain View, CA|  7322|
|     Product Manager|                 185000|              5.0|           0.0|    130000|         5000.0|50000.0|              5.0|           0.0|  Male|             0|               0|               0|         0|    Amazon|      Seattle, WA| 11527|
|   Software Engineer|                 250000|              3.0|           3.0|         0|            0.0|    0.0|              3.0|           3.0|Female|             0|               0|               0|         0|     Apple|    Cupertino, CA|  7158|
|   Software Engineer|                  78000|              0.0|           0.0|         0|            0.0|10000.0|              0.0|           0.0|Female|             0|               0|               0|         0|  T-Mobile|      Bothell, WA| 11981|
|   Software Engineer|                 265000|              1.0|           0.0|    160000|        75000.0|30000.0|              1.0|           0.0|  Male|             0|               0|               0|         0|  Facebook|   Menlo Park, CA|  7300|
|   Software Engineer|                 200000|              2.0|           2.0|         0|            0.0|    0.0|              2.0|           2.0|    NA|             0|               0|               0|         0|     amzon|      Seattle, WA| 11527|
+--------------------+-----------------------+-----------------+--------------+----------+---------------+-------+-----------------+--------------+------+--------------+----------------+----------------+----------+----------+-----------------+------+
only showing top 20 rows